.modal {
  .modal-header {
    margin: 27px 24px 21px;

    h1 {
      font-weight: 500;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &.v--modal-overlay .v--modal-box {
    overflow-y: auto;
  }

  .modal-body.notary-list .notary-card {
    background: #dde0e3;
    box-shadow: none;
    border-radius: 0;
    padding: 10px 24px;

    .card-left {
      .card-left-mb {
        display: flex;

        .card-name-mb {
          display: none;

          .card-year {
            border-bottom: 0;
          }
        }
      }

      .card-avatar {
        margin: auto 0;
      }

      .card-center {
        .card-name {
          font-size: 16px;
          line-height: 24px;
        }

        .dropdown-menu {
          a {
            color: #fff;
            display: flex;
          }
        }

        .card-rev {
          display: inline-flex;

          .notary-stars {
            display: inline-flex;

            img {
              width: 12px;
              height: 12px;
            }
          }

          .rev {
            a {
              padding-left: 4px;
              color: #2d333d;
              font-size: 14px;
              line-height: 16px;
              text-decoration: none;
            }
          }
        }

        .card-subway .subway-item {
          font-size: 14px;
          line-height: 16px;
        }
      }
    }
  }

  .modal-bottom {
    margin: 28px 24px 10px 0;
    text-align: right;

    button {
      height: 48px;
      width: 160px;
      border-radius: 4px;
      background-color: #1b559e;
      border: none;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
      color: #fff;
    }
  }

  .modal-close {
    position: absolute;
    right: 10px;
    top: 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;

    &:hover &:before,
    &:hover &:after {
      background-color: #2d333d;
    }

    &:before,
    &:after {
      position: absolute;
      left: 7px;
      content: " ";
      height: 16px;
      width: 2px;
      background-color: #8e99a7;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .form__box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    label {
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 4px;

      span {
        color: #f12222;
      }
    }

    .search-box {
      position: relative;
      width: 100%;

      &:before {
        content: "";
        position: absolute;
        width: 9px;
        height: 5px;
        right: 9px;
        top: 50%;
        z-index: 5;
        transform: translate(0, -50%);
        background: url("/arrow-modalForm.svg") no-repeat;
        pointer-events: none;
      }

      &.showTime {
        &:before {
          width: 12px;
          height: 12px;
          background: url("/mdi-av-timer.svg") no-repeat;
        }
      }

      option {
        width: 100%;
      }
    }

    .input-box {
      &:before {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        top: 56%;
        right: 9px;
        z-index: 5;
      }

      &.name:before {
        background: url("/mdi-account.svg") no-repeat;
      }

      &.tel:before {
        background: url("/mdi-phone.svg") no-repeat;
      }
    }

    select,
    input,
    .time {
      width: 100%;
      font-size: 14px;
      line-height: 16px;
      color: #8e99a7;
      outline: none;
      height: 40px;
      border-radius: 4px;
      padding: 10px 16px;
      border: 1px solid #8e99a7;
      appearance: button;
    }

    .time {
      cursor: pointer;
      appearance: none;
    }
  }

  &.modal-date,
  &.modal-filter {
    .modal-header {
      margin: 0 0 16px;
      padding: 12px 18px;
      box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
      border-bottom: solid 1px #e3e3e3;
    }
  }
}

.modal-review {
  .modal-body.notary-list {
    .card-left .card-avatar .notary-avatar {
      width: 72px;
      height: 72px;
    }
  }

  .modal-center {
    text-align: center;
    margin: 0 48px;

    h2 {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 8px;
      font-weight: 500;
    }

    .review-act {
      margin: 26px 0 50px;

      fieldset {
        font-family: "FontAwesome";
        border: none;
        display: inline-block;

        &:not(:checked) {
          input {
            position: absolute;
            top: -9999px;
            clip: rect(0, 0, 0, 0);
          }

          label {
            float: right;
            width: 1em;
            padding: 0 0.05em;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 200%;
            color: #f15a22;

            &:before {
              content: "\f006";
            }

            &:hover,
            &:hover~label {
              color: #f15a22;
              text-shadow: 0 0 3px #f15a22;

              &:before {
                content: "\f005";
              }
            }
          }
        }

        input:checked {
          &~label {
            &:before {
              content: "\f005";
            }
          }
        }

        >label:active {
          position: relative;
          top: 2px;
        }
      }
    }

    .review-comment {
      textarea {
        font-family: Open Sans;
        font-size: 12px;
        width: 100%;
        height: 216px;
        resize: none;
        padding: 20px 24px;
        border-radius: 4px;
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
        border: solid 1px #e3e3e3;
      }
    }
  }
}

.modal-record {
  .modal-body.notary-list {
    .card-avatar {
      .card-rev {
        display: none;
      }
    }
  }

  .form__record {
    margin: 0 24px;

    .sms {
      display: flex;

      img {
        margin-bottom: auto;
      }

      p {
        font-size: 14px;
        line-height: 16px;
        padding-left: 11px;
      }
    }
  }
}

.modal-sms {
  .under-header {
    font-size: 14px;
    line-height: 16px;
    color: #8e99a7;
    margin: 4px 0 13px;
  }

  .modal-body {
    margin: 0 24px;

    .sms-timer {
      display: flex;
      padding-bottom: 37px;
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;

      a {
        color: #1b559e;
        padding-right: 24px;
        text-decoration: none;
      }
    }
  }

  .modal-bottom {
    text-align: center;
    margin: 0 24px 14px;

    p {
      padding-top: 20px;
      font-size: 14px;
      line-height: 16px;

      a {
        color: #1b559e;
        text-decoration: none;
      }
    }
  }
}

.modal-accept {
  .modal-message {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 24px;

    span {
      color: #f15a22;
    }

    img {
      position: absolute;
      bottom: -10px;
      left: 220px;
    }
  }
}

.modal-time {
  .card-right {
    max-width: 100%;

    .slider-month {
      text-align: center;

      div {
        color: #2d333d;
        font-weight: 600;
      }
    }

    .slider-days {
      .slider-btn {
        color: #8e99a7;
        height: 50px;
        font-weight: 600;
        line-height: 24px;
        font-size: 16px;
        background: inherit;
        border: none;

        &.active {
          color: #1b559e;
        }
      }
    }

    .block-times {
      padding-top: 16px;

      ul {
        grid-template-columns: repeat(auto-fill, minmax(78px, 1fr));
        grid-auto-rows: 48px;

        .slider-btn {
          width: 64px;
          height: 34px;
        }
      }
    }
  }
}

.modal-enter,
.modal-cancel,
.modal-cancelAccept {
  .modal-bottom {
    margin-top: 44px;
  }
}

.modal-cancelAccept {
  .modal-bottom {
    display: flex;
    justify-content: space-between;

    button {
      height: 40px;
    }

    .bottom-cancel {
      background-color: #8e99a7;
    }
  }
}

.modal-date {
  .modal-header {
    margin: 26px 16px 16px;

    h1 {
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
    }
  }

  .modal-body {
    margin: 0 16px;

    .radio-btn {
      display: flex;
      flex-direction: column;

      .radio {
        position: relative;
        cursor: pointer;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 16px;

        .label {
          position: relative;
          display: block;
          float: left;
          margin-right: 10px;
          width: 16px;
          height: 16px;
          border: 1px solid #c8ccd4;
          border-radius: 100%;
          -webkit-tap-highlight-color: transparent;

          &:after {
            content: "";
            position: absolute;
            top: 2px;
            left: 2px;
            width: 10px;
            height: 10px;
            border-radius: 100%;
            background: #1b559e;
            transform: scale(0);
            transition: all 0.2s ease;
            opacity: 0.08;
            pointer-events: none;
          }
        }
      }

      .chooseDate {
        display: flex;
        align-items: center;
        margin-bottom: 0;

        img {
          margin-right: 10px;
        }
      }

      .hidden {
        display: none;
      }

      input[type="radio"]:checked+.label {
        border-color: #1b559e;

        &:after {
          transform: scale(1);
          transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
          opacity: 1;
        }
      }
    }
  }

  .modal-bottom {
    margin-top: 52px;

    button {
      background-color: #8e99a7;
      width: 100%;
      height: 40px;
      font-weight: 500;
    }
  }
}

.modal.modal-calendar {
  .modal-body {
    .info {
      font-size: 12px;
      line-height: 16px;
      color: #8e99a7;
      max-width: 250px;
      margin: 16px auto;
      text-align: center;
    }

    .vdpComponent {
      margin: 0 -16px;

      .vdpInnerWrap {
        box-shadow: none;
        border: none;
        padding: 0;

        .vdpHeader {
          text-align: left;
          margin: 0 0 -2.5em;

          .vdpArrowPrev {
            left: 90px;
          }

          .vdpArrowNext {
            left: 170px;
          }

          .vdpPeriodControls {
            .vdpPeriodControl:last-child {
              display: none;
            }

            .vdpPeriodControl>button {
              font-size: 14px;
              line-height: 16px;
              font-weight: 600;
              color: #2d333d;
            }
          }
        }

        thead {
          .vdpHeadCell {
            .vdpHeadCellContent {
              font-size: 14px;
              line-height: 16px;
              font-weight: 600;
              color: #8e99a7;
            }

            &:nth-child(6),
            &:nth-child(7) {
              .vdpHeadCellContent {
                color: #f12222;
              }
            }
          }
        }

        tbody {
          .vdpCell.selectable {
            .vdpCellContent {
              height: inherit;
              font-size: 14px;
              font-weight: 600;
              line-height: 24px;
            }
          }

          .vdpCell.selected .vdpCellContent,
          .vdpCell.selectable:hover .vdpCellContent {
            border: solid 1px #1b559e;
            background: inherit;
            color: #1b559e;
            border-radius: 50%;
            transition: .2s;
          }
        }
      }
    }
  }

  .modal-bottom {
    button {
      background-color: #8e99a7;
      width: 100%;
      font-weight: 500;
    }
  }
}

.modal-filter {
  .modal-body {
    h2 {
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      margin: 0 0 16px;
    }
  }

  .modal-bottom {
    margin: 52px 24px 14px;

    .bottom-accept {
      background: #1b559e;
    }
  }
}
