.modal .modal-header {
  margin: 27px 24px 21px;
}

.modal .modal-header h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.modal.v--modal-overlay .v--modal-box {
  overflow-y: auto;
}

.modal .modal-body.notary-list .notary-card {
  background: #dde0e3;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 10px 24px;
}

.modal .modal-body.notary-list .notary-card .card-left .card-left-mb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal-body.notary-list .notary-card .card-left .card-left-mb .card-name-mb {
  display: none;
}

.modal .modal-body.notary-list .notary-card .card-left .card-left-mb .card-name-mb .card-year {
  border-bottom: 0;
}

.modal .modal-body.notary-list .notary-card .card-left .card-avatar {
  margin: auto 0;
}

.modal .modal-body.notary-list .notary-card .card-left .card-center .card-name {
  font-size: 16px;
  line-height: 24px;
}

.modal .modal-body.notary-list .notary-card .card-left .card-center .dropdown-menu a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal .modal-body.notary-list .notary-card .card-left .card-center .card-rev {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.modal .modal-body.notary-list .notary-card .card-left .card-center .card-rev .notary-stars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.modal .modal-body.notary-list .notary-card .card-left .card-center .card-rev .notary-stars img {
  width: 12px;
  height: 12px;
}

.modal .modal-body.notary-list .notary-card .card-left .card-center .card-rev .rev a {
  padding-left: 4px;
  color: #2d333d;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}

.modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway .subway-item {
  font-size: 14px;
  line-height: 16px;
}

.modal .modal-bottom {
  margin: 28px 24px 10px 0;
  text-align: right;
}

.modal .modal-bottom button {
  height: 48px;
  width: 160px;
  border-radius: 4px;
  background-color: #1b559e;
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #fff;
}

.modal .modal-close {
  position: absolute;
  right: 10px;
  top: 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.modal .modal-close:hover .modal .modal-close:before,
.modal .modal-close:hover .modal .modal-close:after {
  background-color: #2d333d;
}

.modal .modal-close:before, .modal .modal-close:after {
  position: absolute;
  left: 7px;
  content: " ";
  height: 16px;
  width: 2px;
  background-color: #8e99a7;
}

.modal .modal-close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal .modal-close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal .form__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
}

.modal .form__box label {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
}

.modal .form__box label span {
  color: #f12222;
}

.modal .form__box .search-box {
  position: relative;
  width: 100%;
}

.modal .form__box .search-box:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 5px;
  right: 9px;
  top: 50%;
  z-index: 5;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: url("/arrow-modalForm.svg") no-repeat;
  pointer-events: none;
}

.modal .form__box .search-box.showTime:before {
  width: 12px;
  height: 12px;
  background: url("/mdi-av-timer.svg") no-repeat;
}

.modal .form__box .search-box option {
  width: 100%;
}

.modal .form__box .input-box:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 56%;
  right: 9px;
  z-index: 5;
}

.modal .form__box .input-box.name:before {
  background: url("/mdi-account.svg") no-repeat;
}

.modal .form__box .input-box.tel:before {
  background: url("/mdi-phone.svg") no-repeat;
}

.modal .form__box select,
.modal .form__box input,
.modal .form__box .time {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
  outline: none;
  height: 40px;
  border-radius: 4px;
  padding: 10px 16px;
  border: 1px solid #8e99a7;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

.modal .form__box .time {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal.modal-date .modal-header, .modal.modal-filter .modal-header {
  margin: 0 0 16px;
  padding: 12px 18px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border-bottom: solid 1px #e3e3e3;
}

.modal-review .modal-body.notary-list .card-left .card-avatar .notary-avatar {
  width: 72px;
  height: 72px;
}

.modal-review .modal-center {
  text-align: center;
  margin: 0 48px;
}

.modal-review .modal-center h2 {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 8px;
  font-weight: 500;
}

.modal-review .modal-center .review-act {
  margin: 26px 0 50px;
}

.modal-review .modal-center .review-act fieldset {
  font-family: "FontAwesome";
  border: none;
  display: inline-block;
}

.modal-review .modal-center .review-act fieldset:not(:checked) input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}

.modal-review .modal-center .review-act fieldset:not(:checked) label {
  float: right;
  width: 1em;
  padding: 0 0.05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: #f15a22;
}

.modal-review .modal-center .review-act fieldset:not(:checked) label:before {
  content: "\f006";
}

.modal-review .modal-center .review-act fieldset:not(:checked) label:hover,
.modal-review .modal-center .review-act fieldset:not(:checked) label:hover ~ label {
  color: #f15a22;
  text-shadow: 0 0 3px #f15a22;
}

.modal-review .modal-center .review-act fieldset:not(:checked) label:hover:before,
.modal-review .modal-center .review-act fieldset:not(:checked) label:hover ~ label:before {
  content: "\f005";
}

.modal-review .modal-center .review-act fieldset input:checked ~ label:before {
  content: "\f005";
}

.modal-review .modal-center .review-act fieldset > label:active {
  position: relative;
  top: 2px;
}

.modal-review .modal-center .review-comment textarea {
  font-family: Open Sans;
  font-size: 12px;
  width: 100%;
  height: 216px;
  resize: none;
  padding: 20px 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #e3e3e3;
}

.modal-record .modal-body.notary-list .card-avatar .card-rev {
  display: none;
}

.modal-record .form__record {
  margin: 0 24px;
}

.modal-record .form__record .sms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-record .form__record .sms img {
  margin-bottom: auto;
}

.modal-record .form__record .sms p {
  font-size: 14px;
  line-height: 16px;
  padding-left: 11px;
}

.modal-sms .under-header {
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
  margin: 4px 0 13px;
}

.modal-sms .modal-body {
  margin: 0 24px;
}

.modal-sms .modal-body .sms-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 37px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.modal-sms .modal-body .sms-timer a {
  color: #1b559e;
  padding-right: 24px;
  text-decoration: none;
}

.modal-sms .modal-bottom {
  text-align: center;
  margin: 0 24px 14px;
}

.modal-sms .modal-bottom p {
  padding-top: 20px;
  font-size: 14px;
  line-height: 16px;
}

.modal-sms .modal-bottom p a {
  color: #1b559e;
  text-decoration: none;
}

.modal-accept .modal-message {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 24px;
}

.modal-accept .modal-message span {
  color: #f15a22;
}

.modal-accept .modal-message img {
  position: absolute;
  bottom: -10px;
  left: 220px;
}

.modal-time .card-right {
  max-width: 100%;
}

.modal-time .card-right .slider-month {
  text-align: center;
}

.modal-time .card-right .slider-month div {
  color: #2d333d;
  font-weight: 600;
}

.modal-time .card-right .slider-days .slider-btn {
  color: #8e99a7;
  height: 50px;
  font-weight: 600;
  line-height: 24px;
  font-size: 16px;
  background: inherit;
  border: none;
}

.modal-time .card-right .slider-days .slider-btn.active {
  color: #1b559e;
}

.modal-time .card-right .block-times {
  padding-top: 16px;
}

.modal-time .card-right .block-times ul {
  -ms-grid-columns: (minmax(78px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(78px, 1fr));
  grid-auto-rows: 48px;
}

.modal-time .card-right .block-times ul .slider-btn {
  width: 64px;
  height: 34px;
}

.modal-enter .modal-bottom,
.modal-cancel .modal-bottom,
.modal-cancelAccept .modal-bottom {
  margin-top: 44px;
}

.modal-cancelAccept .modal-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-cancelAccept .modal-bottom button {
  height: 40px;
}

.modal-cancelAccept .modal-bottom .bottom-cancel {
  background-color: #8e99a7;
}

.modal-date .modal-header {
  margin: 26px 16px 16px;
}

.modal-date .modal-header h1 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
}

.modal-date .modal-body {
  margin: 0 16px;
}

.modal-date .modal-body .radio-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-date .modal-body .radio-btn .radio {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px;
}

.modal-date .modal-body .radio-btn .radio .label {
  position: relative;
  display: block;
  float: left;
  margin-right: 10px;
  width: 16px;
  height: 16px;
  border: 1px solid #c8ccd4;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}

.modal-date .modal-body .radio-btn .radio .label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #1b559e;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0.08;
  pointer-events: none;
}

.modal-date .modal-body .radio-btn .chooseDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.modal-date .modal-body .radio-btn .chooseDate img {
  margin-right: 10px;
}

.modal-date .modal-body .radio-btn .hidden {
  display: none;
}

.modal-date .modal-body .radio-btn input[type="radio"]:checked + .label {
  border-color: #1b559e;
}

.modal-date .modal-body .radio-btn input[type="radio"]:checked + .label:after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  transition: all 0.2s cubic-bezier(0.35, 0.9, 0.4, 0.9);
  opacity: 1;
}

.modal-date .modal-bottom {
  margin-top: 52px;
}

.modal-date .modal-bottom button {
  background-color: #8e99a7;
  width: 100%;
  height: 40px;
  font-weight: 500;
}

.modal.modal-calendar .modal-body .info {
  font-size: 12px;
  line-height: 16px;
  color: #8e99a7;
  max-width: 250px;
  margin: 16px auto;
  text-align: center;
}

.modal.modal-calendar .modal-body .vdpComponent {
  margin: 0 -16px;
}

.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  padding: 0;
}

.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap .vdpHeader {
  text-align: left;
  margin: 0 0 -2.5em;
}

.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap .vdpHeader .vdpArrowPrev {
  left: 90px;
}

.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap .vdpHeader .vdpArrowNext {
  left: 170px;
}

.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap .vdpHeader .vdpPeriodControls .vdpPeriodControl:last-child {
  display: none;
}

.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap .vdpHeader .vdpPeriodControls .vdpPeriodControl > button {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #2d333d;
}

.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap thead .vdpHeadCell .vdpHeadCellContent {
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  color: #8e99a7;
}

.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap thead .vdpHeadCell:nth-child(6) .vdpHeadCellContent, .modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap thead .vdpHeadCell:nth-child(7) .vdpHeadCellContent {
  color: #f12222;
}

.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap tbody .vdpCell.selectable .vdpCellContent {
  height: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
}

.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap tbody .vdpCell.selected .vdpCellContent,
.modal.modal-calendar .modal-body .vdpComponent .vdpInnerWrap tbody .vdpCell.selectable:hover .vdpCellContent {
  border: solid 1px #1b559e;
  background: inherit;
  color: #1b559e;
  border-radius: 50%;
  -webkit-transition: .2s;
  transition: .2s;
}

.modal.modal-calendar .modal-bottom button {
  background-color: #8e99a7;
  width: 100%;
  font-weight: 500;
}

.modal-filter .modal-body h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  margin: 0 0 16px;
}

.modal-filter .modal-bottom {
  margin: 52px 24px 14px;
}

.modal-filter .modal-bottom .bottom-accept {
  background: #1b559e;
}
/*# sourceMappingURL=modals.css.map */