@media (max-width: 1140px) {
  header .header__menu ul li:not(:last-child) {
    padding-right: 20px;
  }
}

@media (max-width: 1010px) {

  .header__menu,
  .header__right {
    display: none;
  }

  header .header__hum {
    display: block;
  }

  header .header__nav.active {
    display: block;
  }

  .card-right {
    max-width: 260px;

    .slider-days .swiper-container {
      width: 260px;
    }
  }

  .page {
    .notarys-slider {
      margin: 20px 36px;
    }

    .page-phone .page__right .page-arrows {
      display: none;
    }
  }

  footer .wrap .footer__navs .footer__nav:first-child {
    padding-right: 20px;
  }
}

@media (max-width: 890px) {
  .page {
    .left-container {
      width: 100%;
      max-width: 100%;

      .notary-card.result-card {
        .showMap {
          display: block;
        }

        .card-center-mb {
          display: block;
        }
      }
    }

    .right-container {
      display: none;
    }
  }
}

@media (max-width: 780px) {
  .sugg-convert {
    flex-direction: column;
  }

  .main {
    .intro {
      .sugg-new {
        .sugg-boxes {
          flex-direction: column;
          align-items: center;

          .sugg-box {
            justify-content: flex-start;

            &:not(:last-child) {
              margin-right: 0;
              margin-bottom: 16px;
            }
          }
        }
      }
    }

    .benefits {
      .note-boxes {
        .note-box {
          flex-direction: column;

          &:last-child {
            flex-direction: column-reverse;
          }

          &:first-child {
            margin-bottom: 0;
          }

          .note-1,
          .note-2,
          .note-3,
          .note-4 {
            max-width: 100%;
            margin: 0;
            padding: 20px 24px 14px;
            margin-bottom: 16px;
          }

          .note-1,
          .note-4 {
            border: solid 1px #e3e3e3;
          }
        }
      }
    }
  }

  .center-container .notarys .notary-list .notary-card .card-left {
    flex-direction: column;
  }

  .results {
    .results__section {
      .notary-list .notary-card {
        flex-direction: column;

        .card-right {
          max-width: 100%;
          margin-top: 8px;

          .slider-days .swiper-container {
            width: auto;
          }

          .block-times ul li:nth-child(4n + 4) {
            margin-right: 4px;
          }
        }
      }
    }
  }

  .page {
    .left-container .notary-list .notary-card.result-card {
      .card-left .card-center {
        .card-nameTitle {
          display: none;
        }
      }

      .card-left-mb .card-name-mb {
        display: block;
      }

      .card-left-mb {
        .card-avatar {
          padding-right: 8px;

          .notary-avatar {
            width: 64px;
            height: 64px;
          }

          .notary-stars {
            line-height: 0;

            img {
              width: 10px;
              height: 10px;
            }
          }

          .rev {
            font-size: 8px;
          }
        }
      }

      .card-name-mb {
        .card-spec {
          padding-top: 8px;
        }

        .card-year {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 760px) {
  header .v--modal-overlay .v--modal-box {
    top: 150px !important;
  }

  .main .action .action-content {
    column-count: 2;
  }

  .page {
    .page-phone {
      flex-direction: column;

      .page__left {
        flex-direction: column;

        h1 {
          margin-right: 0;
        }

        .page__left-num {
          flex-direction: column;

          p:first-child {
            margin: 8px 0;
          }

          p:last-child {
            margin-top: 24px;
          }
        }
      }

      .page__right {
        margin-top: 24px;
        justify-content: center;
      }
    }
  }

  .notes.results {
    .notarys .notary-list .result-card.notes-card {
      .notary-top {
        flex-direction: column;

        .top-note {
          margin-bottom: 16px;
        }

        .top-note__btn {
          text-align: right;
        }
      }

      .card-left {
        .card-avatar {
          justify-content: inherit;
        }

        .card-center {
          flex-direction: column;
        }
      }
    }
  }

  footer {
    padding-bottom: 25px;

    .wrap {
      .footer__navs {
        flex-direction: column;

        .footer__nav:first-child {
          padding-right: 0;
          padding-bottom: 16px;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  header {
    height: 70px;

    .header__left {
      .header__logo {
        align-items: center;

        a {
          padding-top: 0;
          height: 32px;
          width: 35px;

          img {
            width: 100%;
          }
        }

        p {
          font-size: 16px;
          line-height: 16px;
          font-weight: 500;
        }
      }

      .header__logo-title .header__counter {
        padding-top: 0;
        font-size: 12px;
      }
    }
  }

  .main {
    .map {
      #map {
        height: 340px;
      }
    }
  }

  .main__section,
  .result__section.map {
    margin: 42px auto;
  }

  .main,
  .results {
    .section-title {
      font-size: 30px;
      line-height: 30px;
    }

    .custom__list {
      left: -30px;
    }
  }

  .search-form {
    height: auto;
    flex-direction: column;
  }

  .search-form .search-date,
  .search-formDate .search-date {
    border-radius: 0 4px 4px 0;
  }

  .results {
    .search-fixed {
      .search-date {
        margin-right: 0;
      }

      .search .custom__selected {
        margin-right: 0;
      }
    }

    .modal-record,
    .modal-time,
    .modal-accept {
      .v--modal {
        width: 100% !important;
        left: 0 !important;
      }
    }
  }

  .search-form .search-btn {
    border-radius: 4px;
    margin-top: 8px;
  }

  .main .intro .search-example {
    display: none;
  }

  .page {
    .v--modal {
      width: 100% !important;
      left: 0 !important;
    }
  }

  .notes {
    .search-form .search-btn {
      margin-top: 0;
    }
  }

  .search-form .date-dropdown,
  .search-formDate .date-dropdown {
    left: -30px;
  }

  footer {
    .wrap {
      flex-direction: column;

      .footer__left .footer__info,
      .footer__left .footer__dev {
        display: none;
      }

      .footer__right {
        margin-top: 34px;
      }

      .footer__infoDev {
        display: block;
        margin-top: 16px;

        .footer__dev {
          padding-top: 8px;
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .results {
    .search-fixed .search-title {
      font-size: 20px;
      line-height: 24px;
    }

    .notarys .pagination .page__num {
      margin-right: 16px;
    }
  }

  .search .search-top .search-icons {
    display: none;
  }

  .notes.results .notarys .notary-list .result-card.notes-card {

    .notary-top,
    .card-left {
      padding: 12px;
    }

    .card-left {
      .card-center {
        padding-left: 16px;
      }
    }
  }
}

@media (max-width: 550px) {
  .results {
    &__section {
      .notary-list .notary-card {
        padding: 10px;
      }

      .subway-step {
        img {
          width: 10px;
        }
      }
    }
  }

  .page {
    .search-fixed {
      display: none;
    }
  }

  .modal {

    &.modal-record,
    &.modal-time,
    &.modal-accept,
    &.modal-review {
      .modal-body.notary-list {
        .card-left {
          .card-avatar .card-rev {
            display: block;
          }

          .card-center .card-rev {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  @mixin mb-card {
    .card-left {
      .card-avatar {
        position: relative;

        .notary-avatar {
          object-fit: cover;
        }

        .notary-star img {
          height: 10px;
        }
      }

      .card-center {
        .card-spec {
          font-size: 12px;
          line-height: 16px;
        }

        .card-name {
          font-size: 14px;
          line-height: 16px;
          font-weight: 600;
        }

        .card-year {
          font-size: 12px;
          line-height: 16px;
          margin-top: 8px;
          padding-bottom: 4px;
          border-bottom: 1px solid #dde0e3;
        }

        .card-subway {
          margin-top: 11px;

          .subway-item {
            font-size: 12px;
            line-height: 16px;

            .subway-step {
              font-size: 10px;
              line-height: 16px;
              padding-left: 3px;

              img {
                width: 6px;
                height: 8px;
              }
            }
          }
        }

        .card-adress {
          font-size: 12px;
        }
      }
    }
  }

  @mixin cardRev {
    .card-rev {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: 20px;
      left: 5px;
      background: #fff;
      padding: 0 3px;
      border-radius: 4px;

      .notary-stars {
        height: 10px;
        align-items: center;

        img {
          width: 10px;
          height: 10px;
        }
      }

      .rev a {
        font-size: 10px;
        line-height: 16px;
        padding-left: 4px;

        span {
          display: none;
        }
      }
    }
  }

  .main__section .v--modal-overlay .v--modal-box,
  .modalBottom.v--modal-overlay .v--modal-box,
  header .v--modal-overlay .v--modal-box {
    position: fixed;
    width: 100% !important;
    top: inherit !important;
    left: 0 !important;
    bottom: 0;
  }

  header .header__hum .menu-link span {
    width: 24px;
  }

  .main {
    .main__section {
      .section-title {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 12px;
      }
    }

    .intro {
      .sugg-new {
        margin: 32px 0 0 0;
      }

      .sugg-new .sugg-title {
        padding-bottom: 21px;
      }

      .sugg-new .sugg-box .sugg-img img {
        width: 40px;
        height: 40px;
      }

      .sugg-new .sugg-box .sugg-info {
        font-size: 12px;
        line-height: 16px;
      }

      .search {
        margin: 0;

        .search-formDate {
          height: 32px;

          .search-date {
            display: none;
          }

          img {
            display: block;
            background-color: #f15a22;
            padding: 0 8px;
          }
        }

        .search-btn {
          line-height: 32px;
          font-weight: 500;
        }

        .search-form .date-dropdown,
        .search-formDate .date-dropdown {
          display: none;
        }

        .search-date {
          min-width: inherit;
        }
      }
    }

    .benefits {
      .note-boxes {
        .note-box {
          .note-title {
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 9px;

            img {
              width: 10px;
              height: 10px;
            }
          }

          .note-1 .note-title .note-stars {
            padding-left: 10px;
          }

          .note-info {
            font-size: 12px;
            line-height: 16px;
          }

          .note-4 .note-range {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }

    .default .content-wrapper {
      padding: 0 25px;
    }

    .faq {
      .accordion {
        margin-top: 0;

        .accordion-item {
          margin-bottom: 8px;

          .accordion-item-head {
            padding-top: 12px;
            padding-bottom: 12px;

            h3 {
              font-size: 12px;
              line-height: 16px;
            }

            svg {
              min-width: 20px;
              min-height: 20px;
              margin: 0 14px;
            }

            &.active+.accordion-item-body {
              font-size: 12px;
              line-height: 16px;
              padding: 0 30px 12px;
            }
          }
        }
      }

      .qq {
        .qq-content {
          .qq-links {
            margin: 0 0 16px;
          }

          a {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }

      .action .action-content li h3,
      .action .action-content li a {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .qq {
      .qq-content {
        a {
          font-size: 12px;
          line-height: 16px;
        }

        .qq-links {
          margin: 16px 0;
        }
      }
    }

    .action {
      .action-content {
        column-count: 1;

        li {

          h3,
          a {
            font-size: 12px;
            line-height: 16px;
          }

          a {
            margin-bottom: 4px;
          }
        }
      }
    }

    .map {
      display: none;
    }
  }

  .results {
    .results__section {
      &.map {
        margin: 44px 0;

        .section-title {
          font-size: 14px;
          line-height: 16px;
          margin-bottom: 12px;
        }
      }

      &.search-fixed {
        position: inherit;

        .search {
          box-shadow: none;
          border: 0;
          margin-right: 0;
          margin-left: 0;
          padding: 10px 0;
          margin-bottom: 12px;

          .search-form {
            display: none;
          }

          input {
            font-size: 12px;
          }

          .search-form-mb {
            display: block;

            .search-formDate,
            .search-bottomMobile {
              height: 32px;
            }

            .search-formDate {
              input {
                border-radius: 4px 0 0 4px;
              }

              .search-btn {
                display: flex;
                justify-content: space-around;
                min-width: 64px;
                line-height: 16px;
                font-weight: 500;
                margin-top: 0;
                border-radius: 0 4px 4px 0;

                img {
                  display: block;
                }
              }
            }

            .search-bottomMobile {
              display: flex;
              align-items: center;
              margin-top: 8px;

              .search-date {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #f15a22;
                border-radius: 4px;
                padding: 0 16px;
                margin-right: 16px;
                cursor: pointer;

                p {
                  font-size: 12px;
                  line-height: 16px;
                  font-weight: 500;
                  color: #fff;
                }

                i {
                  display: block;
                  width: 9.4px;
                  height: 8.5px;
                  margin-left: 15px;
                  background: url("/arrow-search.svg");
                  background-size: cover;
                }
              }

              .filter {
                cursor: pointer;
              }
            }
          }
        }

        .search-title {
          font-size: 14px;
          line-height: 16px;
          padding-bottom: 16px;

          span {
            color: #8e99a7;
          }
        }
      }

      &.notarys {
        .notarys-filter {
          display: none;
        }

        .notary-list .notary-card {
          .card-left {
            @include cardRev;
            flex-direction: column;

            .card-avatar {
              .notary-avatar {
                width: 100%;
              }
            }

            .card-rev {
              bottom: 12px;
            }
          }

          .card-right .block-times {
            ul {
              grid-auto-rows: 32px;

              li {
                margin: 0;
              }
            }
          }
        }

        .search-form {
          display: none;
        }

        .pagination {
          button {
            height: 30px;
          }

          .arrow__pag {
            width: 50px;
          }

          .page__num {
            width: 26px;
            margin-right: 6px;
          }

          button:first-child,
          button:nth-last-child(2) {
            margin-right: 8px;
          }
        }
      }
    }
  }

  .notarys {
    .notary-list .notary-card {
      padding: 8px;
      @include mb-card;

      .card-left .card-avatar {
        padding-right: 0;
      }

      .card-right {
        max-width: 100%;

        .card-rightChoose {
          display: block;
        }

        .slider-month,
        .slider-days {
          display: none;
        }

        .block-times ul li {
          margin-bottom: 8px;

          .slider-btn {
            font-size: 12px;
            height: 24px;
            line-height: 24px;
          }
        }

        .block-times {
          border: none;
          margin: 0;

          ul li:nth-child(4n + 4) {
            margin-right: 4px;
          }
        }

        .error p {
          font-size: 12px;
          padding-left: 8px;
        }

        .change_date {
          display: flex;
        }
      }
    }
  }

  .profile {
    padding-top: 24px;

    .profile-title {
      font-size: 14px;
      line-height: 16px;
      padding-bottom: 24px;
    }

    form {
      .form-box input {
        height: 32px;
        font-size: 12px;
        line-height: 16px;
      }

      .btn-profile .profile-save {
        height: 40px;
        width: 136px;
      }
    }
  }

  .page {

    &.results .notarys .notary-list .notary-card .card-right .slider-month,
    &.results .notarys .notary-list .notary-card .card-right .slider-days {
      display: block;
    }

    .container {
      border: none;
      box-shadow: none;

      .title-page {
        margin-bottom: 16px;

        h2 {
          font-size: 14px;
          line-height: 16px;
          font-weight: 600;
        }
      }
    }

    .left-container {
      padding: 0;

      .notary-card.result-card .card-center-mb .card-right .slider-month>div,
      .notary-card.result-card .card-center-mb .card-right .slider-days>div {
        width: 85%;
      }

      .card-bottom {
        display: none;
      }

      .page-reviews {
        padding-bottom: 0;

        .v--modal {
          -height: 100% !important;
        }

        .title-page {
          display: none;
        }

        .tabs {
          display: flex;
        }

        .tabcontent {
          .notary-card.result-card {
            padding-top: 10px;
          }

          .reviews-list {
            margin: 10px 0;

            .review-item {
              box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
              border: solid 1px #e3e3e3;
              padding: 12px 8px;

              .review-stars {
                .review-star img {
                  width: 10px;
                  height: 10px;
                }

                p {
                  font-size: 12px;
                  font-weight: 600;
                }
              }

              .review-text {
                font-size: 12px;
                margin-bottom: 16px;
              }

              .review-name {
                font-size: 12px;
                font-weight: 500;
              }
            }
          }

          .reviews-btn {
            button {
              font-size: 12px;
              line-height: 16px;
            }
          }

          .info-notary {
            border-radius: 4px;
            padding: 8px 8px 24px;
            box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
            border: solid 1px #e3e3e3;

            ul li {
              &:not(:last-child) {
                padding-bottom: 12px;
              }

              p {
                font-size: 12px;
                line-height: 16px;

                span {
                  color: #8e99a7;
                }
              }
            }
          }
        }
      }
    }

    .notarys-slider {
      margin: 40px 15px 0;

      .notary-card.other-card {
        display: block;
        padding: 0;

        .card-left {
          padding: 8px;
          border-bottom: 1px solid #dde0e3;

          .card-avatar {
            padding-right: inherit;

            .notary-stars {
              height: 10px;
              margin-top: 0;

              .notary-star img {
                height: 10px;
                width: 10px;
              }
            }

            .rev {
              font-size: 8px;
            }
          }

          .card-center .card-year {
            border-bottom: 0;
            margin-top: 0;
            padding-bottom: 0;
          }
        }
      }

      .notary-list .notary-card .card-left .card-center .card-subway {
        display: none;
      }

      .card-bottom-mb {
        display: block;
        padding: 8px 8px 12px;

        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            display: flex;
            align-items: center;
            font-size: 10px;
            line-height: 16px;
            padding-right: 5px;

            span {
              width: 8px;
              height: 8px;
              border-radius: 50%;
              background: #ffa800;
              margin-right: 5px;
            }
          }
        }
      }
    }

    .page-phone {
      .page__left {
        h1 {
          font-size: 14px;
          font-weight: 600;
          margin-right: 0;
        }

        .page__left-num {
          p {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;

            &:first-child {
              margin-right: 0;
            }

            &:last-child {
              margin-top: 0;
            }
          }
        }
      }

      .page__right {
        justify-content: center;

        button {
          font-size: 12px;
          width: 128px;
          height: 32px;
        }
      }
    }
  }

  .notes {
    &.results {
      .search {
        margin-bottom: 16px;

        .search-formDate {
          height: 32px;

          input {
            font-size: 12px;
          }

          button {
            min-width: 64px;
            line-height: 16px;
            font-weight: 500;
            margin-top: 0;
            border-radius: 0 4px 4px 0;

            &:first-of-type {
              display: none;
            }

            &:last-of-type {
              display: block;
            }
          }
        }
      }

      .notes-title {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 16px;
      }

      .notarys .notary-list .result-card.notes-card {
        .notary-top {
          padding: 8px;

          .top-note {
            .note-date {
              padding-bottom: 0;
            }

            .note-status {
              font-size: 12px;
            }
          }

          .top-note__btn {
            display: flex;
            flex-wrap: nowrap;
            text-align: inherit;

            button {
              font-size: 12px;
              height: 32px;
            }
          }
        }

        .card-left {
          flex-direction: column;
          display: flex;
          padding: 8px;
          @include cardRev;

          .card-avatar {
            .notary-avatar {
              height: 160px;
              width: 100%;
            }

            .card-rev {
              bottom: 6px;

              .notary-stars {
                padding-top: 0;

                img {
                  height: 12px;
                }
              }
            }
          }

          .card-center {
            padding-left: 0;
            margin-top: 10px;
          }
        }
      }
    }
  }

  .modal {
    .modal-header {
      margin: 14px 16px 10px;

      h1 {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .modal-body.notary-list {
      margin-bottom: 24px;

      .notary-card {
        padding: 10px 16px;

        .card-left {
          .card-avatar {
            margin: 0;
            padding-right: 8px;

            .notary-avatar {
              width: 80px;
              height: 76px;
            }

            .notary-stars {
              line-height: 10px;
            }
          }
        }
      }
    }

    .modal-accept {
      .modal-message {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .modal-bottom {
      margin-right: 16px;
      margin-left: 16px;

      button {
        height: 40px;
      }
    }

    &.modal-record,
    &.modal-time,
    &.modal-accept,
    &.modal-review {
      .v--modal {
        width: 100% !important;
        height: 100vh !important;
        top: inherit !important;
        left: 0 !important;
        bottom: 0;

        .modal-body.notary-list {
          .notary-card {
            @include mb-card;

            .card-left {
              .card-center {
                .card-name {
                  font-size: 14px;
                  line-height: 16px;
                }
              }
            }
          }

          .modal-message {
            margin-right: 16px;
            margin-left: 16px;
          }
        }

        .form__record {
          margin: 0 16px;
        }
      }
    }

    &.modal-record {
      .modal-body.notary-list {
        .card-left {
          .card-avatar {
            .card-rev {
              .rev {
                font-size: 8px;
              }
            }
          }
        }
      }
    }

    &.modal-review {
      .modal-center {
        margin: 0 16px;

        h2 {
          font-size: 16px;
          line-height: 24px;
        }

        .review-act {
          margin: 14px 0 27px;

          .notary-stars .notary-star img {
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    &.modal-sms {
      .modal-body {
        margin: 0 16px;
      }
    }

    &.modal-time {
      .notary-card {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }

      .card-right {
        .slider-month {
          div {
            font-size: 14px;
            line-height: 16px;
          }
        }

        .slider-days {
          margin: 15px 40px 0;

          .slider-btn {
            height: 34px;
            font-size: 14px;
            line-height: 16px;
          }
        }

        .block-times {
          margin: 8px 16px;

          ul {
            max-height: 215px;
            overflow-y: auto;
          }
        }
      }
    }
  }

  footer {
    padding-bottom: 5px;

    .wrap {
      .footer__left .footer__logo {
        font-size: 14px;
        line-height: 16px;
      }

      .footer__navs .footer__list li {
        font-size: 12px;
        line-height: 16px;
      }

      .footer__navs .footer__list li:not(:last-child) {
        padding-bottom: 8px;
      }

      .footer__right {
        font-size: 12px;
      }

      .footer__left .footer__info,
      .footer__left .footer__dev,
      .footer__infoDev .footer__info,
      .footer__infoDev .footer__dev {
        font-size: 10px;
      }

      .footer__infoDev .footer__dev {
        padding-top: 4px;
      }
    }
  }
}

@media (min-width: 480px) {
  .page .left-container .page-reviews .tabcontent .notary-card.result-card {
    display: none;
  }
}
