@media (max-width: 1140px) {
  header .header__menu ul li:not(:last-child) {
    padding-right: 20px;
  }
}

@media (max-width: 1010px) {
  .header__menu,
  .header__right {
    display: none;
  }
  header .header__hum {
    display: block;
  }
  header .header__nav.active {
    display: block;
  }
  .card-right {
    max-width: 260px;
  }
  .card-right .slider-days .swiper-container {
    width: 260px;
  }
  .page .notarys-slider {
    margin: 20px 36px;
  }
  .page .page-phone .page__right .page-arrows {
    display: none;
  }
  footer .wrap .footer__navs .footer__nav:first-child {
    padding-right: 20px;
  }
}

@media (max-width: 890px) {
  .page .left-container {
    max-width: 100%;
  }
  .page .left-container .notary-card.result-card .showMap {
    display: block;
  }
  .page .left-container .notary-card.result-card .card-center-mb {
    display: block;
  }
  .page .right-container {
    display: none;
  }
}

@media (max-width: 780px) {
  .sugg-convert {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .intro .sugg-new .sugg-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .intro .sugg-new .sugg-boxes .sugg-box {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .main .intro .sugg-new .sugg-boxes .sugg-box:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .main .benefits .note-boxes .note-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .benefits .note-boxes .note-box:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .main .benefits .note-boxes .note-box:first-child {
    margin-bottom: 0;
  }
  .main .benefits .note-boxes .note-box .note-1,
  .main .benefits .note-boxes .note-box .note-2,
  .main .benefits .note-boxes .note-box .note-3,
  .main .benefits .note-boxes .note-box .note-4 {
    max-width: 100%;
    margin: 0;
    padding: 20px 24px 14px;
    margin-bottom: 16px;
  }
  .main .benefits .note-boxes .note-box .note-1,
  .main .benefits .note-boxes .note-box .note-4 {
    border: solid 1px #e3e3e3;
  }
  .center-container .notarys .notary-list .notary-card .card-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .results .results__section .notary-list .notary-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .results .results__section .notary-list .notary-card .card-right {
    max-width: 100%;
    margin-top: 8px;
  }
  .results .results__section .notary-list .notary-card .card-right .slider-days .swiper-container {
    width: auto;
  }
  .results .results__section .notary-list .notary-card .card-right .block-times ul li:nth-child(4n + 4) {
    margin-right: 4px;
  }
  .page .left-container .notary-card.result-card .card-left .card-center .card-nameTitle {
    display: none;
  }
  .page .left-container .notary-card.result-card .card-left-mb .card-name-mb {
    display: block;
  }
}

@media (max-width: 760px) {
  header .v--modal-overlay .v--modal-box {
    top: 150px !important;
  }
  .main .action .action-content {
    -webkit-column-count: 2;
            column-count: 2;
  }
  .page .page-phone {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page .page-phone .page__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page .page-phone .page__left .page__left-num {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page .page-phone .page__left .page__left-num p:first-child {
    margin-top: 8px;
  }
  .page .page-phone .page__left .page__left-num p:last-child {
    margin-top: 24px;
  }
  .page .page-phone .page__right {
    margin-top: 24px;
  }
  footer {
    padding-bottom: 25px;
  }
  footer .wrap .footer__navs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .wrap .footer__navs .footer__nav:first-child {
    padding-right: 0;
    padding-bottom: 16px;
  }
}

@media (max-width: 680px) {
  header {
    height: 70px;
  }
  header .header__left .header__logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__left .header__logo a {
    padding-top: 0;
    height: 32px;
    width: 35px;
  }
  header .header__left .header__logo a img {
    width: 100%;
  }
  header .header__left .header__logo p {
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
  }
  header .header__left .header__logo-title .header__counter {
    padding-top: 0;
    font-size: 12px;
  }
  .main .map #map {
    height: 340px;
  }
  .main__section,
  .result__section.map {
    margin: 42px auto;
  }
  .main .section-title,
  .results .section-title {
    font-size: 30px;
    line-height: 30px;
  }
  .search-form {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .search-form .search-date,
  .search-formDate .search-date {
    border-radius: 0 4px 4px 0;
  }
  .results .search-fixed .search-date {
    margin-right: 0;
  }
  .results .modal-record .v--modal,
  .results .modal-time .v--modal {
    width: 100% !important;
    left: 0 !important;
  }
  .search-form .search-btn {
    border-radius: 4px;
    margin-top: 8px;
  }
  .main .intro .search-example {
    display: none;
  }
  .page .v--modal {
    width: 100% !important;
    left: 0 !important;
  }
  .search-form .date-dropdown,
  .search-formDate .date-dropdown {
    left: -30px;
  }
  footer .wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .wrap .footer__left .footer__info,
  footer .wrap .footer__left .footer__dev {
    display: none;
  }
  footer .wrap .footer__right {
    margin-top: 34px;
  }
  footer .wrap .footer__infoDev {
    display: block;
    margin-top: 16px;
  }
  footer .wrap .footer__infoDev .footer__dev {
    padding-top: 8px;
  }
}

@media (max-width: 590px) {
  .results .search-fixed .search-title {
    font-size: 20px;
    line-height: 24px;
  }
  .results .notarys .pagination .page__num {
    margin-right: 16px;
  }
  .search .search-top .search-icons {
    display: none;
  }
}

@media (max-width: 480px) {
  .main__section .v--modal-overlay .v--modal-box,
  .modalBottom.v--modal-overlay .v--modal-box,
  header .v--modal-overlay .v--modal-box {
    position: absolute;
    width: 100% !important;
    top: inherit !important;
    left: 0 !important;
    bottom: 0;
  }
  header .header__hum .menu-link span {
    width: 24px;
  }
  .main .main__section .section-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
  }
  .main .intro .sugg-new {
    margin: 32px 0 0 0;
  }
  .main .intro .sugg-new .sugg-title {
    padding-bottom: 21px;
  }
  .main .intro .sugg-new .sugg-box .sugg-img img {
    width: 40px;
    height: 40px;
  }
  .main .intro .sugg-new .sugg-box .sugg-info {
    font-size: 12px;
    line-height: 16px;
  }
  .main .intro .search {
    margin: 0;
  }
  .main .intro .search .search-formDate {
    height: 32px;
  }
  .main .intro .search .search-btn {
    line-height: 32px;
    font-weight: 500;
  }
  .main .intro .search .search-form .date-dropdown,
  .main .intro .search .search-formDate .date-dropdown {
    display: none;
  }
  .main .intro .search .search-date p {
    display: none;
  }
  .main .intro .search .search-date {
    min-width: inherit;
  }
  .main .intro .search .search-date img {
    display: block;
    padding: 0 8px;
  }
  .main .benefits .note-boxes .note-box .note-title {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 9px;
  }
  .main .benefits .note-boxes .note-box .note-title img {
    width: 10px;
    height: 10px;
  }
  .main .benefits .note-boxes .note-box .note-1 .note-title .note-stars {
    padding-left: 10px;
  }
  .main .benefits .note-boxes .note-box .note-info {
    font-size: 12px;
    line-height: 16px;
  }
  .main .benefits .note-boxes .note-box .note-4 .note-range {
    font-size: 14px;
    line-height: 16px;
  }
  .main .default .content-wrapper {
    padding: 0 25px;
  }
  .main .faq .accordion {
    margin-top: 0;
  }
  .main .faq .accordion .accordion-item {
    margin-bottom: 8px;
  }
  .main .faq .accordion .accordion-item .accordion-item-head {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .main .faq .accordion .accordion-item .accordion-item-head h3 {
    font-size: 12px;
    line-height: 16px;
  }
  .main .faq .accordion .accordion-item .accordion-item-head svg {
    min-width: 20px;
    min-height: 20px;
    margin: 0 14px;
  }
  .main .faq .accordion .accordion-item .accordion-item-head.active + .accordion-item-body {
    font-size: 12px;
    line-height: 16px;
    padding: 0 30px 12px;
  }
  .main .faq .qq .qq-content .qq-links {
    margin: 0 0 16px;
  }
  .main .faq .qq .qq-content a {
    font-size: 12px;
    line-height: 16px;
  }
  .main .faq .action .action-content li h3,
  .main .faq .action .action-content li a {
    font-size: 12px;
    line-height: 16px;
  }
  .main .qq .qq-content a {
    font-size: 12px;
    line-height: 16px;
  }
  .main .qq .qq-content .qq-links {
    margin: 16px 0;
  }
  .main .action .action-content {
    -webkit-column-count: 1;
            column-count: 1;
  }
  .main .action .action-content li h3,
  .main .action .action-content li a {
    font-size: 12px;
    line-height: 16px;
  }
  .main .action .action-content li a {
    margin-bottom: 4px;
  }
  .main .map {
    display: none;
  }
  .results .results__section.search-fixed {
    position: inherit;
  }
  .results .results__section.search-fixed .search {
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 10px 0;
    margin-bottom: 12px;
  }
  .results .results__section.search-fixed .search .search-form {
    display: none;
  }
  .results .results__section.search-fixed .search input {
    font-size: 12px;
  }
  .results .results__section.search-fixed .search .search-form-mb {
    display: block;
  }
  .results .results__section.search-fixed .search .search-form-mb .search-formDate,
  .results .results__section.search-fixed .search .search-form-mb .search-bottomMobile {
    height: 32px;
  }
  .results .results__section.search-fixed .search .search-form-mb .search-formDate input {
    border-radius: 4px 0 0 4px;
  }
  .results .results__section.search-fixed .search .search-form-mb .search-formDate .search-btn {
    min-width: 64px;
    line-height: 16px;
    font-weight: 500;
    margin-top: 0;
    border-radius: 0 4px 4px 0;
  }
  .results .results__section.search-fixed .search .search-form-mb .search-bottomMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 8px;
  }
  .results .results__section.search-fixed .search .search-form-mb .search-bottomMobile .search-date {
    width: 100%;
    height: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 16px;
    margin-right: 16px;
    font-weight: 500;
    margin-left: 0;
  }
  .results .results__section.search-fixed .search .search-form-mb .search-bottomMobile .filter {
    cursor: pointer;
  }
  .results .results__section.search-fixed .search-title {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 16px;
  }
  .results .results__section.search-fixed .search-title span {
    color: #8e99a7;
  }
  .results .results__section.notarys .notarys-filter {
    display: none;
  }
  .results .results__section.notarys .notary-list .notary-card .card-right .block-times ul {
    grid-auto-rows: 32px;
  }
  .results .results__section.notarys .notary-list .notary-card .card-right .block-times ul li {
    margin: 0;
  }
  .results .results__section.notarys .search-form {
    display: none;
  }
  .results .results__section.notarys .card-rev {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    bottom: 20px;
    left: 5px;
    background: #fff;
    padding: 0 3px;
    border-radius: 4px;
  }
  .results .results__section.notarys .card-rev .notary-stars {
    height: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .results .results__section.notarys .card-rev .notary-stars img {
    width: 10px;
    height: 10px;
  }
  .results .results__section.notarys .card-rev .rev a {
    font-size: 10px;
    line-height: 16px;
    padding-left: 4px;
  }
  .results .results__section.notarys .card-rev .rev a span {
    display: none;
  }
  .results .results__section.notarys .pagination button {
    height: 30px;
  }
  .results .results__section.notarys .pagination .arrow__pag {
    width: 50px;
  }
  .results .results__section.notarys .pagination .page__num {
    width: 26px;
    margin-right: 6px;
  }
  .results .results__section.notarys .pagination button:first-child,
  .results .results__section.notarys .pagination button:nth-last-child(2) {
    margin-right: 8px;
  }
  .notarys .notary-list .notary-card {
    padding: 8px;
  }
  .notarys .notary-list .notary-card .card-left .card-avatar {
    position: relative;
  }
  .notarys .notary-list .notary-card .card-left .card-avatar .notary-avatar {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .notarys .notary-list .notary-card .card-left .card-avatar .notary-star img {
    width: 12px;
    height: 12px;
  }
  .notarys .notary-list .notary-card .card-left .card-center .card-spec {
    font-size: 12px;
    line-height: 16px;
  }
  .notarys .notary-list .notary-card .card-left .card-center .card-name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }
  .notarys .notary-list .notary-card .card-left .card-center .card-year {
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #dde0e3;
  }
  .notarys .notary-list .notary-card .card-left .card-center .card-subway {
    margin-top: 11px;
  }
  .notarys .notary-list .notary-card .card-left .card-center .card-subway .subway-item {
    font-size: 12px;
    line-height: 16px;
  }
  .notarys .notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-step {
    font-size: 10px;
    line-height: 16px;
    padding-left: 3px;
  }
  .notarys .notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-step img {
    width: 6px;
    height: 8px;
  }
  .notarys .notary-list .notary-card .card-left .card-center .card-adress {
    font-size: 12px;
  }
  .notarys .notary-list .notary-card .card-right {
    max-width: 100%;
  }
  .notarys .notary-list .notary-card .card-right .card-rightChoose {
    display: block;
  }
  .notarys .notary-list .notary-card .card-right .slider-month,
  .notarys .notary-list .notary-card .card-right .slider-days {
    display: none;
  }
  .notarys .notary-list .notary-card .card-right .block-times ul li {
    margin-bottom: 8px;
  }
  .notarys .notary-list .notary-card .card-right .block-times ul li .slider-btn {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
  }
  .notarys .notary-list .notary-card .card-right .block-times {
    border: none;
    margin: 0;
  }
  .notarys .notary-list .notary-card .card-right .block-times ul li:nth-child(4n + 4) {
    margin-right: 4px;
  }
  .notarys .notary-list .notary-card .card-right .error p {
    font-size: 12px;
    padding-left: 8px;
  }
  .notarys .notary-list .notary-card .card-right .change_date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .profile {
    padding-top: 24px;
  }
  .profile .profile-title {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 24px;
  }
  .profile form .form-box input {
    height: 32px;
    font-size: 12px;
    line-height: 16px;
  }
  .profile form .btn-profile .profile-save {
    height: 40px;
    width: 136px;
  }
  .page.results .notarys .notary-list .notary-card .card-right .slider-month,
  .page.results .notarys .notary-list .notary-card .card-right .slider-days {
    display: block;
  }
  .page .container {
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .page .left-container {
    padding: 0;
  }
  .page .left-container .notary-card.result-card .card-center-mb .card-right .slider-month > div,
  .page .left-container .notary-card.result-card .card-center-mb .card-right .slider-days > div {
    width: 85%;
  }
  .page .left-container .page-reviews .v--modal {
    height: 100% !important;
  }
  .page .notarys-slider .notary-card.other-card {
    display: block;
    padding: 0;
  }
  .page .notarys-slider .notary-card.other-card .card-left {
    padding: 8px;
    border-bottom: 1px solid #dde0e3;
  }
  .page .notarys-slider .notary-card.other-card .card-left .card-avatar {
    padding-right: inherit;
  }
  .page .notarys-slider .notary-card.other-card .card-left .card-avatar .notary-stars {
    height: 10px;
    margin-top: 0;
  }
  .page .notarys-slider .notary-card.other-card .card-left .card-avatar .notary-stars .notary-star img {
    height: 10px;
    width: 10px;
  }
  .page .notarys-slider .notary-card.other-card .card-left .card-avatar .rev {
    font-size: 8px;
  }
  .page .notarys-slider .notary-card.other-card .card-left .card-center .card-year {
    border-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
  }
  .page .notarys-slider .notary-list .notary-card .card-left .card-center .card-subway {
    display: none;
  }
  .page .notarys-slider .card-bottom-mb {
    display: block;
    padding: 8px 8px 12px;
  }
  .page .notarys-slider .card-bottom-mb ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .page .notarys-slider .card-bottom-mb ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 10px;
    line-height: 16px;
    padding-right: 5px;
  }
  .page .notarys-slider .card-bottom-mb ul li span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffa800;
    margin-right: 5px;
  }
  .page .page-phone .page__left h1 {
    font-size: 14px;
    font-weight: 600;
    margin-right: 0;
  }
  .page .page-phone .page__left .page__left-num p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 12px;
  }
  .page .page-phone .page__left .page__left-num p:first-child {
    margin-right: 0;
  }
  .page .page-phone .page__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .page .page-phone .page__right button {
    font-size: 12px;
    width: 128px;
    height: 32px;
  }
  .modal .modal-header {
    margin: 14px 16px 10px;
  }
  .modal .modal-header h1 {
    font-size: 16px;
    line-height: 24px;
  }
  .modal .modal-body.notary-list {
    margin-bottom: 24px;
  }
  .modal .modal-body.notary-list .notary-card {
    padding: 10px 16px;
    margin: 0;
  }
  .modal .modal-body.notary-list .notary-card .card-left .card-avatar {
    margin: 0;
    padding-right: 8px;
  }
  .modal .modal-body.notary-list .notary-card .card-left .card-avatar .notary-avatar {
    width: 80px;
    height: 76px;
  }
  .modal .modal-body.notary-list .notary-card .card-left .card-avatar .notary-stars {
    line-height: 10px;
  }
  .modal.modal-record .v--modal, .modal.modal-time .v--modal, .modal.modal-accept .v--modal {
    width: 100% !important;
    height: 100vh !important;
    top: inherit !important;
    left: 0 !important;
    bottom: 0;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-avatar, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-avatar, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-avatar {
    position: relative;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-avatar .notary-avatar, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-avatar .notary-avatar, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-avatar .notary-avatar {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-avatar .notary-star img, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-avatar .notary-star img, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-avatar .notary-star img {
    width: 12px;
    height: 12px;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-spec, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-spec, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-spec {
    font-size: 12px;
    line-height: 16px;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-name, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-name, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-year, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-year, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-year {
    font-size: 12px;
    line-height: 16px;
    margin-top: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid #dde0e3;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway {
    margin-top: 11px;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway .subway-item, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway .subway-item, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway .subway-item {
    font-size: 12px;
    line-height: 16px;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-step, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-step, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-step {
    font-size: 10px;
    line-height: 16px;
    padding-left: 3px;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-step img, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-step img, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-step img {
    width: 6px;
    height: 8px;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-adress, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-adress, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-adress {
    font-size: 12px;
  }
  .modal.modal-record .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-name, .modal.modal-time .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-name, .modal.modal-accept .v--modal .modal-body.notary-list .notary-card .card-left .card-center .card-name {
    font-size: 14px;
    line-height: 16px;
  }
  footer {
    padding-bottom: 5px;
  }
  footer .wrap .footer__left .footer__logo {
    font-size: 14px;
    line-height: 16px;
  }
  footer .wrap .footer__navs .footer__list li {
    font-size: 12px;
    line-height: 16px;
  }
  footer .wrap .footer__navs .footer__list li:not(:last-child) {
    padding-bottom: 8px;
  }
  footer .wrap .footer__right {
    font-size: 12px;
  }
  footer .wrap .footer__left .footer__info,
  footer .wrap .footer__left .footer__dev,
  footer .wrap .footer__infoDev .footer__info,
  footer .wrap .footer__infoDev .footer__dev {
    font-size: 10px;
  }
  footer .wrap .footer__infoDev .footer__dev {
    padding-top: 4px;
  }
}
/*# sourceMappingURL=responsive.css.map */