* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  font-family: Open Sans;
}

ul * {
  list-style-type: none;
}

input,
button {
  outline: none;
}

button {
  cursor: pointer;
}

header .wrap,
footer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.search {
  margin: 36px 0 9px 0;
}

.search .search-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search .search-top .search-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .search-top .search-icons img:first-child {
  padding-right: 12px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
}

.search-form input {
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
  width: 100%;
  border: 1px solid #1b559e;
  border-right: none;
  padding-left: 16px;
  border-radius: 4px 0 0 4px;
}

.search-form .search-date,
.search-form .search-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;
  min-width: 160px;
  text-align: center;
  cursor: pointer;
}

.search-form .search-date {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f15a22;
  -webkit-box-shadow: 0 8px 25px 0 rgba(241, 90, 34, 0.15);
          box-shadow: 0 8px 25px 0 rgba(241, 90, 34, 0.15);
}

.search-form .search-date i {
  display: block;
  width: 9.4px;
  height: 8.5px;
  margin-left: 15px;
  background: url("/arrow-search.svg");
  background-size: cover;
}

.search-form .date-dropdown {
  position: absolute;
  top: 40px;
  background: #fff;
  font-weight: 500;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  min-width: 190px;
  left: 0;
  top: 53px;
}

.search-form .date-dropdown ul {
  padding: 15px 0;
  text-align: left;
}

.search-form .date-dropdown ul li {
  padding: 0 30px;
  cursor: pointer;
  font-size: 14px;
  color: #2d333d;
  line-height: 24px;
}

.search-form .date-dropdown ul li:hover {
  background: #dbebff;
}

.search-form .date-dropdown ul li.selected {
  position: relative;
  font-weight: 600;
}

.search-form .date-dropdown ul li.selected:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 6.5px;
  height: 6.5px;
  background: url("/check.svg") no-repeat;
}

.search-form .search-btn {
  background: #1b559e;
  -webkit-box-shadow: 0 8px 25px 0 rgba(27, 85, 158, 0.15);
          box-shadow: 0 8px 25px 0 rgba(27, 85, 158, 0.15);
  border: none;
  text-decoration: none;
  line-height: 48px;
  border-radius: 0 4px 4px 0;
}

.notary-list .notary-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  padding: 24px 24px 14px 24px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
}

.notary-list .notary-card .card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notary-list .notary-card .card-left .card-avatar {
  padding-right: 16px;
  text-align: center;
  color: #2d333d;
}

.notary-list .notary-card .card-left .card-avatar .notary-avatar {
  width: 160px;
  height: 160px;
  border-radius: 4px;
}

.notary-list .notary-card .card-left .card-avatar .notary-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notary-list .notary-card .card-left .card-avatar .notary-stars .notary-star:not(:last-child) {
  margin-right: 2px;
}

.notary-list .notary-card .card-left .card-avatar .rev {
  font-size: 12px;
  line-height: 16px;
}

.notary-list .notary-card .card-left .card-avatar .rev a {
  text-decoration: none;
  color: #2d333d;
}

.notary-list .notary-card .card-left .card-center .card-spec {
  font-size: 12px;
  line-height: 4px;
  color: #8e99a7;
}

.notary-list .notary-card .card-left .card-center .card-name {
  font-size: 24px;
  line-height: 32px;
}

.notary-list .notary-card .card-left .card-center .card-name a {
  text-decoration: none;
  color: #2d333d;
}

.notary-list .notary-card .card-left .card-center .card-year {
  font-size: 16px;
  line-height: 24px;
  color: #8e99a7;
}

.notary-list .notary-card .card-left .card-center .card-subway {
  margin-top: 16px;
}

.notary-list .notary-card .card-left .card-center .card-subway .subway-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-step {
  padding-left: 10px;
  color: #8e99a7;
  font-weight: normal;
}

.notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-color {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  background: green;
  border-radius: 50%;
}

.notary-list .notary-card .card-left .card-center .card-adress {
  font-size: 14px;
  color: #8e99a7;
  line-height: 16px;
  margin-top: 8px;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #fff;
  height: 104px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

header .header__left .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__left .header__logo a {
  text-decoration: none;
  padding-top: 5px;
}

header .header__left .header__logo p {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #2d333d;
  font-weight: bold;
}

header .header__left .header__logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
  padding-left: 17px;
}

header .header__left .header__logo-title .header__counter {
  padding-top: 10px;
}

header .header__left .header__logo-title .header__counter strong {
  font-weight: 600;
}

header .header__menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .header__menu ul li:not(:last-child) {
  padding-right: 56px;
}

header .header__menu ul a {
  font-size: 14px;
  line-height: 16px;
  color: #2d333d;
  text-decoration: none;
}

header .header__right {
  text-align: right;
  width: 220px;
}

header .header__right .header__caption {
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
  padding-bottom: 6px;
}

header .header__right .header__caption p {
  width: 100%;
}

header .header__right .header__caption p strong {
  color: #f15a22;
}

header .header__right .header__phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 24px;
  color: #2d333d;
}

header .header__right .header__phone .phone {
  position: relative;
  height: 24px;
  width: 24px;
  margin-right: 13px;
  background: #1b559e;
  border-radius: 50%;
}

header .header__right .header__phone .phone:before {
  content: " ";
  position: absolute;
  width: 24px;
  height: 100%;
  left: 0;
  top: 0;
  background-size: contain;
  color: black;
  background: url("/phone.svg") no-repeat center;
}

header .header__right .header__select {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__right .header__select .header__city {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .header__right .header__select .header__city .fade-enter-active,
header .header__right .header__select .header__city .fade-leave-active {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

header .header__right .header__select .header__city .fade-enter,
header .header__right .header__select .header__city .fade-leave-to {
  opacity: 0;
}

header .header__right .header__select .header__city .city__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

header .header__right .header__select .header__city .city__selected:hover {
  background: #f1f1f1;
}

header .header__right .header__select .header__city .city__selected span {
  font-size: 16px;
  line-height: 24px;
  color: #8e99a7;
}

header .header__right .header__select .header__city .city__selected i {
  display: block;
  width: 8px;
  height: 7px;
  margin-left: 10px;
  background: url("/arrow-header.svg");
  background-size: cover;
}

header .header__right .header__select .header__city .city__list {
  position: absolute;
  top: 40px;
  background: #fff;
  font-weight: 500;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  min-width: 190px;
  z-index: 99;
}

header .header__right .header__select .header__city .city__list ul {
  padding: 15px 0;
  text-align: left;
}

header .header__right .header__select .header__city .city__list ul li {
  padding: 0 30px;
  cursor: pointer;
  font-size: 14px;
  color: #2d333d;
  line-height: 24px;
}

header .header__right .header__select .header__city .city__list ul li:hover {
  background: #dbebff;
}

header .header__right .header__select .header__city .city__list ul li.selected {
  position: relative;
  font-weight: 600;
}

header .header__right .header__select .header__city .city__list ul li.selected:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 6.5px;
  height: 6.5px;
  background: url("/check.svg") no-repeat;
}

header .header__right .header__select button {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #1b559e;
  background: none;
  border: none;
}

.default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.default .content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.main {
  background: #fff;
}

.main__section {
  max-width: 864px;
  margin: 135px auto;
}

.main__section .section-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  color: #171e2b;
}

.main .intro .search-title span {
  color: #f15a22;
}

.main .intro .search-example {
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
}

.main .intro .search-example span {
  color: #2d333d;
}

.main .intro .sugg-new {
  margin: 74px 0 0 0;
  font-size: 16px;
  line-height: 24px;
  color: #2d333d;
}

.main .intro .sugg-new .sugg-title {
  font-weight: 600;
  text-align: center;
  padding-bottom: 36px;
}

.main .intro .sugg-new .sugg-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .intro .sugg-new .sugg-boxes .sugg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .intro .sugg-new .sugg-boxes .sugg-box:not(:last-child) {
  margin-right: 60px;
}

.main .intro .sugg-new .sugg-boxes .sugg-box .sugg-img {
  line-height: 0;
}

.main .intro .sugg-new .sugg-boxes .sugg-box .sugg-info {
  padding-left: 15px;
}

.main .container {
  width: 100%;
}

.main .benefits {
  color: #2d333d;
}

.main .benefits .benefits-title span {
  color: #1b559e;
}

.main .benefits .note-boxes {
  display: block;
  margin: 24px 0 112px 0;
}

.main .benefits .note-boxes .note-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 192px;
}

.main .benefits .note-boxes .note-box .note-1 {
  max-width: 512px;
  margin-right: 8px;
}

.main .benefits .note-boxes .note-box .note-1 .note-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .benefits .note-boxes .note-box .note-1 .note-title .note-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 24px;
}

.main .benefits .note-boxes .note-box .note-2 {
  max-width: 336px;
  margin-left: 8px;
}

.main .benefits .note-boxes .note-box .note-2 .note-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.main .benefits .note-boxes .note-box .note-2 .note-btn .btn-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  width: 72px;
  height: 32px;
  border-radius: 4px;
}

.main .benefits .note-boxes .note-box .note-2 .note-btn .btn-time.btn-time-1 {
  color: #1b559e;
  background: #fff;
  margin-right: 16px;
}

.main .benefits .note-boxes .note-box .note-2 .note-btn .btn-time.btn-time-2 {
  color: #fff;
  background: transparent;
  border: solid 1px #ffffff;
}

.main .benefits .note-boxes .note-box .note-3 {
  max-width: 50%;
  margin-right: 8px;
}

.main .benefits .note-boxes .note-box .note-4 {
  max-width: 50%;
  margin-left: 8px;
}

.main .benefits .note-boxes .note-box .note-4 .note-range {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  padding-left: 17px;
  margin-top: 32px;
}

.main .benefits .note-boxes .note-box .note-4 .note-range .range-station {
  font-weight: 600;
  color: #2d333d;
}

.main .benefits .note-boxes .note-box .note-4 .note-range .range-station:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  background: #0066ff;
}

.main .benefits .note-boxes .note-box .note-4 .note-range .range-step {
  margin-left: 10px;
  color: #8e99a7;
}

.main .benefits .note-boxes .note-box .note-1,
.main .benefits .note-boxes .note-box .note-2,
.main .benefits .note-boxes .note-box .note-3,
.main .benefits .note-boxes .note-box .note-4 {
  padding: 25px 24px 0 24px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
}

.main .benefits .note-boxes .note-box .note-1 .note-title,
.main .benefits .note-boxes .note-box .note-2 .note-title,
.main .benefits .note-boxes .note-box .note-3 .note-title,
.main .benefits .note-boxes .note-box .note-4 .note-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 13px;
}

.main .benefits .note-boxes .note-box .note-1 .note-info,
.main .benefits .note-boxes .note-box .note-2 .note-info,
.main .benefits .note-boxes .note-box .note-3 .note-info,
.main .benefits .note-boxes .note-box .note-4 .note-info {
  font-size: 16px;
  line-height: 24px;
}

.main .benefits .note-boxes .note-box .note-1,
.main .benefits .note-boxes .note-box .note-4 {
  background: #fff;
  border: solid 1px #f2f2f2;
}

.main .benefits .note-boxes .note-box .note-1 .note-title,
.main .benefits .note-boxes .note-box .note-4 .note-title {
  color: #1b559e;
}

.main .benefits .note-boxes .note-box .note-2,
.main .benefits .note-boxes .note-box .note-3 {
  background: #1b559e;
  color: #fff;
}

.main .benefits .note-boxes .note-box:first-child {
  margin-bottom: 16px;
}

.main .faq .accordion {
  margin-top: 4px;
}

.main .faq .accordion .accordion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 56px;
  font-size: 16px;
  line-height: 56px;
  margin-bottom: 16px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.main .faq .accordion .accordion-item .accordion-item-head {
  position: relative;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8e99a7;
  font-weight: 600;
}

.main .faq .accordion .accordion-item .accordion-item-head svg {
  margin: auto 24px;
}

.main .faq .accordion .accordion-item .accordion-item-head i {
  display: block;
  position: absolute;
  right: 24px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  width: 13px;
  height: 11px;
  background: url(/arrow-header.svg);
  background-size: cover;
}

.main .faq .accordion .accordion-item .accordion-item-head.active {
  color: #f15a22;
}

.main .faq .accordion .accordion-item .accordion-item-head.active path {
  fill: #f15a22;
}

.main .faq .accordion .accordion-item .accordion-item-head.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .faq .accordion .accordion-item .accordion-item-body {
  display: none;
}

.main .faq .accordion .accordion-item .accordion-item-head.active + .accordion-item-body {
  display: block !important;
  line-height: 24px;
  color: #2d333d;
  padding: 8px 71px 17px;
}

.main .calc .calc-text {
  font-size: 16px;
  color: #8e99a7;
  font-weight: 500;
}

.main .calc #widgetApp {
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #f2f2f2;
  background-color: #ffffff;
  padding: 30px 88px 25px;
}

.main .calc #widgetApp .form_group label p {
  font-size: 16px;
  line-height: 24px;
  color: #2d333d;
}

.main .calc #widgetApp .form_group label select {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #8e99a7;
  outline: none;
}

.main .qq {
  max-width: 570px;
}

.main .qq .qq-content {
  margin-left: 10px;
}

.main .qq .qq-content .qq-links {
  margin: 24px 0 48px 0;
}

.main .qq .qq-content .qq-links li:first-child {
  padding-bottom: 8px;
}

.main .qq .qq-content .qq-exit li {
  position: relative;
  padding-left: 16px;
}

.main .qq .qq-content .qq-exit li:not(:last-child) {
  margin-bottom: 8px;
}

.main .qq .qq-content .qq-exit a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #f15a22;
}

.main .qq .qq-content a {
  font-size: 16px;
  line-height: 24px;
  color: #1b559e;
  text-decoration: none;
}

.main .action .action-content {
  -webkit-column-count: 3;
          column-count: 3;
  grid-column-gap: 45px;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

.main .action .action-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .action .action-content li a,
.main .action .action-content li h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .action .action-content li h3 {
  font-size: 16px;
  line-height: 24px;
  color: #8e99a7;
}

.main .action .action-content li a {
  font-size: 14px;
  line-height: 16px;
  color: #1b559e;
}

.main .map .map-title {
  margin-bottom: 20px;
}

.main .map .map-img {
  max-width: 100%;
}

.main .map .map-img img {
  width: 100%;
}

.card-right {
  max-width: 340px;
}

.card-right .slider-btn {
  width: 56px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 4px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.card-right .slider-btn.active {
  background-color: #1b559e;
  color: #fff;
}

.card-right .slider-btn.disabled {
  color: #8e99a7;
  border: 1px solid #8e99a7;
}

.card-right .slider-btn.default {
  border: 1px solid #1b559e;
  color: #1b559e;
}

.card-right .swiper-button-next,
.card-right .swiper-container-rtl .swiper-button-prev {
  background-image: url("/Polygon.svg");
}

.card-right .swiper-button-prev,
.card-right .swiper-container-rtl .swiper-button-next {
  background-image: url("/PolygonL.svg");
}

.card-right .swiper-button-prev,
.card-right .swiper-button-next {
  width: 8px;
  height: 15px;
  margin-top: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background-size: inherit;
}

.card-right .slider-month {
  cursor: pointer;
}

.card-right .slider-month .swiper-container {
  width: 130px;
}

.card-right .slider-month .swiper-container .swiper-slide {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #2d333d;
}

.card-right .slider-days {
  margin-top: 17px;
}

.card-right .slider-days .swiper-container {
  width: 340px;
}

.card-right .slider-days .swiper-button-prev,
.card-right .slider-days .swiper-button-next,
.card-right .slider-days .swiper-button-prev.swiper-button-disabled,
.card-right .slider-days .swiper-button-next.swiper-button-disabled {
  background-color: #fff;
  height: 33px;
  width: 20px;
}

.card-right .slider-days .swiper-button-prev {
  left: 0;
}

.card-right .slider-days .swiper-button-next {
  right: 0;
  -webkit-box-shadow: -18px 0px 21px 0px white;
          box-shadow: -18px 0px 21px 0px white;
}

.card-right .block-times {
  padding-top: 8px;
  margin: 8px 26px 0;
  border-top: 1px solid #dde0e3;
}

.card-right .block-times ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-right .block-times ul li {
  margin: 0 12px 16px 0;
}

.card-right .block-times ul li .btn-time {
  width: 48px;
}

.card-right .block-times ul li:nth-child(5n+5) {
  margin-right: 0;
}

.card-right .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-right .error img {
  margin-bottom: auto;
}

.card-right .error p {
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap {
  max-width: 1086px;
  margin: 0 auto;
}

.results {
  color: #2d333d;
}

.results .search-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.results .search-fixed .search {
  padding: 23px 23px 25px 23px;
  margin: 8px 0 41px 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.results .search-fixed .search-title {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 8px;
}

.results .search-fixed .search input {
  border-right: 1px solid #1b559e;
}

.results .search-fixed .search-date {
  margin: 0 16px;
}

.results .search-fixed .search-date i {
  width: 10.5px;
  height: 9.5px;
  margin-left: 10px;
}

.results .search-fixed .search input, .results .search-fixed .search-date, .results .search-fixed .search-btn {
  border-radius: 4px;
}

.results .notarys .notarys-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.results .notarys .notarys-filter .checkbox {
  margin-right: 16px;
}

.results .notarys .notarys-filter .checkbox .checkbox__input {
  display: none;
}

.results .notarys .notarys-filter .checkbox .checkbox__input:checked + label::before {
  background: url("/checkbox.svg") no-repeat center;
  border-color: #f15a22;
}

.results .notarys .notarys-filter .checkbox .label-style {
  display: block;
  font-weight: 300;
  position: relative;
  margin-left: 31px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.results .notarys .notarys-filter .checkbox .label-style:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #8e99a7;
  position: absolute;
  left: -26px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  bottom: 0;
  background: #fff;
}

.page {
  padding: 10px 0;
}

.page .search-fixed .search {
  margin-top: 0;
}

.page .search-fixed .search form .back-btn {
  background: inherit;
  height: 48px;
  width: 72px;
  margin-right: 16px;
  padding: 0 20px;
  border-radius: 4px;
  border: solid 1px #dde0e3;
}

.page .search-fixed .search form .back-btn img {
  max-width: 33px;
  height: 12px;
}

.page .container {
  margin-bottom: 10px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
}

.page .center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .left-container {
  max-width: 60%;
  padding: 0 24px 0 18px;
}

.page .left-container .notary-card.result-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 0;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  padding: 24px 0 0 0;
  margin-bottom: 0;
}

.page .left-container .notary-card.result-card .card-bottom {
  padding: 28px 0;
  border-bottom: solid 1px #f2f2f2;
}

.page .left-container .notary-card.result-card .card-bottom h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 20px;
}

.page .left-container .notary-card.result-card .card-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .left-container .notary-card.result-card .card-bottom ul li:not(:last-child) {
  padding-bottom: 18px;
}

.page .left-container .notary-card.result-card .card-bottom ul li p {
  font-size: 14px;
  line-height: 16px;
}

.page .left-container .notary-card.result-card .card-bottom ul li p span {
  color: #8e99a7;
}

.page .left-container .page-reviews {
  padding: 30px 0 60px;
}

.page .left-container .page-reviews h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.page .left-container .page-reviews .reviews-list {
  margin: 20px 0;
  font-size: 14px;
  line-height: 16px;
}

.page .left-container .page-reviews .reviews-list .review-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #f2f2f2;
  padding: 26px 32px 20px;
  margin-bottom: 24px;
}

.page .left-container .page-reviews .reviews-list .review-item .review-stars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 8px;
}

.page .left-container .page-reviews .reviews-list .review-item .review-stars .review-star {
  margin-right: 2px;
}

.page .left-container .page-reviews .reviews-list .review-item .review-stars p {
  margin-left: 6px;
}

.page .left-container .page-reviews .reviews-list .review-item .review-text {
  margin-bottom: 32px;
}

.page .left-container .page-reviews .reviews-list .review-item .review-name {
  color: #8e99a7;
  font-weight: 600;
}

.page .left-container .page-reviews .reviews-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .left-container .page-reviews .reviews-btn .show-btn,
.page .left-container .page-reviews .reviews-btn .review-btn {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  padding: 0 12px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.page .left-container .page-reviews .reviews-btn .show-btn {
  background: #8e99a7;
}

.page .left-container .page-reviews .reviews-btn .review-btn {
  background: #1b559e;
}

.page .right-container {
  max-width: 40%;
  padding: 20px 24px 0 0;
}

.page .right-container .sticky-sign {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  max-width: 100%;
  border: 1px solid #1b559e;
}

.page .right-container .sticky-sign .sign-map {
  padding: 20px;
  background: #1b559e;
  text-align: center;
}

.page .right-container .sticky-sign .sign-map img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.page .right-container .sticky-sign .sign-map h2 {
  color: #fff;
  text-transform: uppercase;
}

.page .right-container .sticky-sign .card-right.sign-date {
  text-align: center;
  max-width: inherit;
  padding-top: 10px;
}

.page .right-container .sticky-sign .card-right.sign-date .slider-month .swiper-container {
  position: relative;
}

.page .right-container .sticky-sign .card-right.sign-date .slider-days {
  position: relative;
}

.page .right-container .sticky-sign .card-right.sign-date .slider-days .swiper-container,
.page .right-container .sticky-sign .card-right.sign-date .slider-days .swiper-wrapper {
  position: static;
}

.page .right-container .sticky-sign .card-right.sign-date .slider-days .swiper-button-prev,
.page .right-container .sticky-sign .card-right.sign-date .slider-days .swiper-button-next,
.page .right-container .sticky-sign .card-right.sign-date .slider-days .swiper-button-prev.swiper-button-disabled,
.page .right-container .sticky-sign .card-right.sign-date .slider-days .swiper-button-next.swiper-button-disabled {
  width: 10px;
}

.page .right-container .sticky-sign .card-right.sign-date .slider-days .swiper-button-prev {
  left: 20px;
}

.page .right-container .sticky-sign .card-right.sign-date .slider-days .swiper-button-next {
  right: 20px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.page .right-container .sticky-sign .card-right.sign-date .block-times .btn-time {
  background: #1b559e;
  color: #fff;
}

.page .right-container .sticky-sign .card-right.sign-date .block-times li:nth-child(5n+5) {
  margin-right: 12px;
}

.page .notarys-slider {
  margin: 20px 72px 0;
  -webkit-transition: .3s;
  transition: .3s;
}

.page .notarys-slider h2 {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  font-weight: 500;
}

.page .notarys-slider .swiper-container {
  padding: 40px 0;
}

.page .notarys-slider .notary-card.other-card {
  padding: 16px;
  margin-bottom: 0;
}

.page .notarys-slider .notary-card.other-card .card-left .card-avatar .notary-avatar {
  width: 80px;
  height: 88px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-avatar .notary-stars {
  margin-top: 10px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-center .card-spec {
  line-height: 16px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-center .card-name {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 8px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-center .card-year,
.page .notarys-slider .notary-card.other-card .card-left .card-center .card-subway .subway-item {
  font-size: 12px;
  line-height: 16px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-center .subway-item .subway-color {
  width: 4px;
  height: 4px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-center .subway-item .subway-step img {
  width: 8px;
  height: 10px;
}

.page .notarys-slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.page .notarys-slider .swiper-slide-next {
  -webkit-transform: scale(1.14);
          transform: scale(1.14);
}

.page .notarys-slider .swiper-slide-next .notary-list .notary-card {
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 2px #8e99a7;
}

.notes.results {
  margin-top: 70px;
}

.notes.results .notes-title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 36px;
  font-weight: 600;
}

.notes.results .notarys .notary-list .result-card.notes-card {
  display: block;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #f2f2f2;
  padding: 0;
  border-radius: 4px;
}

.notes.results .notarys .notary-list .result-card.notes-card.done {
  opacity: 0.7;
}

.notes.results .notarys .notary-list .result-card.notes-card .notary-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1b559e;
  color: #fff;
  padding: 11px 24px;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  line-height: 16px;
}

.notes.results .notarys .notary-list .result-card.notes-card .notary-top .top-note .note-date {
  font-weight: 600;
  padding-bottom: 8px;
}

.notes.results .notarys .notary-list .result-card.notes-card .notary-top .top-note__btn .btn-left__action,
.notes.results .notarys .notary-list .result-card.notes-card .notary-top .top-note__btn .btn-right__action {
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  padding: 0 8px;
  border: none;
}

.notes.results .notarys .notary-list .result-card.notes-card .notary-top .top-note__btn .btn-left__action {
  min-width: 160px;
  background: #004397;
  color: #fff;
  margin-right: 16px;
}

.notes.results .notarys .notary-list .result-card.notes-card .notary-top .top-note__btn .btn-right__action {
  min-width: 136px;
  background: #fff;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left {
  border-radius: 0;
  padding: 24px 24px 20px;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 0;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-avatar .notary-avatar {
  width: 80px;
  height: 80px;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-avatar .notary-stars {
  padding-top: 6px;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-avatar .rev {
  font-size: 14px;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-center {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-center .card-subway .subway-item {
  font-weight: 500;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-center .card-subway .subway-item .subway-step {
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-center .card-subway .subway-item .subway-step img {
  padding-right: 6px;
}

.profile {
  padding-top: 78px;
}

.profile .wrap {
  max-width: 688px;
}

.profile .profile-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  padding-bottom: 40px;
}

.profile form .form-box {
  position: relative;
}

.profile form .form-box input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #8e99a7;
  color: #000;
  padding: 8px 16px;
  margin-bottom: 8px;
}

.profile form .btn-profile {
  margin-top: 34px;
  text-align: right;
}

.profile form .btn-profile .profile-save {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #1b559e;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  border: none;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 143px;
  padding-top: 25px;
  background: #2d333d;
  color: #fff;
}

footer .wrap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .wrap .footer__left .footer__logo {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}

footer .wrap .footer__left .footer__info,
footer .wrap .footer__left .footer__dev {
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
}

footer .wrap .footer__left .footer__dev {
  padding-top: 15px;
}

footer .wrap .footer__left .footer__dev a {
  color: #8e99a7;
}

footer .wrap .footer__navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrap .footer__navs .footer__nav:first-child {
  padding-right: 60px;
}

footer .wrap .footer__navs .footer__list li {
  font-size: 14px;
  line-height: 16px;
}

footer .wrap .footer__navs .footer__list li a {
  color: #fff;
  text-decoration: none;
}

footer .wrap .footer__navs .footer__list li:not(:last-child) {
  padding-bottom: 16px;
}

footer .wrap .footer__right {
  font-size: 14px;
  line-height: 16px;
}

footer .wrap .footer__right .footer__mail {
  padding-bottom: 16px;
}

footer .wrap .footer__right .footer__mail a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */