* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  font-family: Open Sans;
}

ul * {
  list-style-type: none;
}

input,
button {
  outline: none;
}

button {
  font-family: Open Sans;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.7;
}

header .wrap,
footer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
  height: 100%;
  margin: 0 auto;
}

.search {
  margin: 36px 0 9px 0;
}

.search .search-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search .search-top .search-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .search-top .search-icons img:first-child {
  padding-right: 12px;
}

.search-form, .search-formDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
}

.search input {
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
  width: 100%;
  border: 1px solid #8e99a7;
  border-right: none;
  padding-left: 16px;
  border-radius: 4px 0 0 4px;
}

.search input:focus {
  border: solid 1px #1b559e;
  border-right: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.search .custom__selected,
.search .search-btn {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;
  min-width: 160px;
  text-align: center;
  cursor: pointer;
}

.search .custom__selected {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  background: #f15a22;
  -webkit-box-shadow: 0 8px 25px 0 rgba(241, 90, 34, 0.15);
          box-shadow: 0 8px 25px 0 rgba(241, 90, 34, 0.15);
}

.search .custom__selected:hover {
  background-color: #e85516;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.search .custom__selected .custom__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .custom__selected .custom__title i {
  display: block;
  width: 9.4px;
  height: 8.5px;
  margin-left: 15px;
  background: url("/arrow-search.svg");
  background-size: cover;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.search .custom__selected .custom__title i.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.search .custom__selected .custom__list {
  top: 50px;
}

.search .custom__selected img {
  display: none;
}

.search .date-dropdown {
  position: absolute;
  top: 40px;
  background: #fff;
  font-weight: 500;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  min-width: 190px;
  left: 0;
  top: 53px;
  min-width: 210px;
}

.search .date-dropdown ul {
  padding: 15px 0;
  text-align: left;
}

.search .date-dropdown ul li {
  padding: 0 30px;
  cursor: pointer;
  font-size: 14px;
  color: #2d333d;
  line-height: 24px;
}

.search .date-dropdown ul li:hover {
  background: #dbebff;
}

.search .date-dropdown ul li.selected {
  position: relative;
  font-weight: 600;
}

.search .date-dropdown ul li.selected:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 6.5px;
  height: 6.5px;
  background: url("/check.svg") no-repeat;
}

.search .search-btn {
  background: #1b559e;
  -webkit-box-shadow: 0 8px 25px 0 rgba(27, 85, 158, 0.15);
          box-shadow: 0 8px 25px 0 rgba(27, 85, 158, 0.15);
  border: none;
  text-decoration: none;
  line-height: 48px;
  border-radius: 0 4px 4px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.search .search-btn:hover {
  background: #004397;
}

.search .search-btn:active {
  background: #003d8a;
}

.search-formDate {
  width: 100%;
}

.search-formDate img {
  display: none;
  cursor: pointer;
}

.notary-list {
  margin-bottom: 30px;
}

.notary-list .notary-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 24px 24px 14px 24px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #e3e3e3;
}

.notary-list .notary-card:not(:last-child) {
  margin-bottom: 24px;
}

.notary-list .notary-card .card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.notary-list .notary-card .card-left .card-avatar {
  padding-right: 16px;
  text-align: center;
  color: #2d333d;
}

.notary-list .notary-card .card-left .card-avatar .notary-avatar {
  width: 160px;
  height: 160px;
  border-radius: 4px;
}

.notary-list .notary-card .card-left .card-avatar .rev {
  font-size: 12px;
  line-height: 16px;
}

.notary-list .notary-card .card-left .card-avatar .rev a {
  text-decoration: none;
  color: #2d333d;
}

.notary-list .notary-card .card-left .card-center .card-spec {
  font-size: 12px;
  line-height: 4px;
  color: #8e99a7;
}

.notary-list .notary-card .card-left .card-center .card-name {
  font-size: 24px;
  line-height: 32px;
}

.notary-list .notary-card .card-left .card-center .card-name a {
  text-decoration: none;
  color: #2d333d;
}

.notary-list .notary-card .card-left .card-center .card-year {
  font-size: 16px;
  line-height: 24px;
  color: #8e99a7;
}

.notary-list .notary-card .card-left .card-center .card-subway {
  margin-top: 16px;
}

.notary-list .notary-card .card-left .card-center .card-subway .subway-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-step {
  padding-left: 10px;
  color: #8e99a7;
  font-weight: normal;
}

.notary-list .notary-card .card-left .card-center .card-subway .subway-item .subway-color {
  width: 8px;
  height: 8px;
  margin-right: 8px;
  background: green;
  border-radius: 50%;
}

.notary-list .notary-card .card-left .card-center .card-adress {
  font-size: 14px;
  color: #8e99a7;
  line-height: 16px;
  margin-top: 8px;
}

header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: #fff;
  position: relative;
  height: 104px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}

header .header__left .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__left .header__logo a {
  text-decoration: none;
  padding-top: 5px;
}

header .header__left .header__logo p {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #2d333d;
  font-weight: bold;
}

header .header__left .header__logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
  padding-left: 17px;
}

header .header__left .header__logo-title .header__counter {
  padding-top: 10px;
}

header .header__left .header__logo-title .header__counter strong {
  font-weight: 600;
}

header .header__menu ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

header .header__menu ul li:not(:last-child) {
  padding-right: 56px;
}

header .header__menu ul a {
  font-size: 14px;
  line-height: 16px;
  color: #2d333d;
  text-decoration: none;
}

header .header__right {
  text-align: right;
  width: 220px;
}

header .header__right .header__caption {
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
  padding-bottom: 6px;
}

header .header__right .header__caption p {
  width: 100%;
}

header .header__right .header__caption p strong {
  color: #f15a22;
}

header .header__right .header__phone {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  line-height: 24px;
  color: #2d333d;
}

header .header__right .header__phone .phone {
  position: relative;
  height: 24px;
  width: 24px;
  margin-right: 13px;
  background: #1b559e;
  border-radius: 50%;
}

header .header__right .header__phone .phone:before {
  content: " ";
  position: absolute;
  width: 24px;
  height: 100%;
  left: 0;
  top: 0;
  background-size: contain;
  color: black;
  background: url("/phone.svg") no-repeat center;
}

header .header__right .header__select {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__right .header__select .customSelect,
header .header__right .header__select .lk {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

header .header__right .header__select .customSelect .custom__selected,
header .header__right .header__select .lk .custom__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
}

header .header__right .header__select .customSelect .custom__selected:hover,
header .header__right .header__select .lk .custom__selected:hover {
  background: #f2f2f2;
}

header .header__right .header__select .customSelect .custom__selected:active,
header .header__right .header__select .lk .custom__selected:active {
  background: #ececec;
}

header .header__right .header__select .customSelect .custom__selected .custom__title,
header .header__right .header__select .lk .custom__selected .custom__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 24px;
  color: #8e99a7;
}

header .header__right .header__select .customSelect .custom__selected .custom__title p,
header .header__right .header__select .lk .custom__selected .custom__title p {
  white-space: nowrap;
  overflow: hidden;
  width: 62px;
  text-align: left;
  text-overflow: ellipsis;
}

header .header__right .header__select .customSelect .custom__selected .custom__title i,
header .header__right .header__select .lk .custom__selected .custom__title i {
  display: block;
  width: 8px;
  height: 7px;
  margin-left: 10px;
  background: url("/arrow-header.svg");
  background-size: cover;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

header .header__right .header__select .customSelect .custom__selected .custom__title i.rotate,
header .header__right .header__select .lk .custom__selected .custom__title i.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .header__right .header__select .customSelect .custom__list,
header .header__right .header__select .lk .custom__list {
  position: absolute;
  top: 30px;
  left: 0;
  background: #fff;
  font-weight: 500;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  min-width: 190px;
  z-index: 99;
  padding: 15px 0;
  text-align: left;
}

header .header__right .header__select .customSelect .custom__list .item,
header .header__right .header__select .lk .custom__list .item {
  padding: 0 30px;
  cursor: pointer;
  font-size: 14px;
  color: #2d333d;
  line-height: 24px;
}

header .header__right .header__select .customSelect .custom__list .item:hover,
header .header__right .header__select .lk .custom__list .item:hover {
  background: #dbebff;
}

header .header__right .header__select .customSelect .custom__list .item.selected,
header .header__right .header__select .lk .custom__list .item.selected {
  position: relative;
  font-weight: 600;
}

header .header__right .header__select .customSelect .custom__list .item.selected:before,
header .header__right .header__select .lk .custom__list .item.selected:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 14px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 6.5px;
  height: 6.5px;
  background: url("/check.svg") no-repeat;
}

header .header__right .header__select .customSelect .selectHide,
header .header__right .header__select .lk .selectHide {
  display: none;
}

header .header__right .header__select .lk {
  font-size: 14px;
  line-height: 16px;
  color: #1b559e;
  cursor: pointer;
}

header .header__right .header__select .lk:hover {
  color: #004397;
}

header .header__right .header__select .lk .custom__list {
  right: 0;
  top: inherit;
  left: inherit;
}

header .header__right .header__select .lk .custom__list a {
  color: #2d333d;
  text-decoration: none;
}

header .header__right .header__select .lk .custom__list a:hover {
  color: #2d333d;
}

header .header__hum {
  display: none;
  position: absolute;
  right: 0;
  z-index: 101;
}

header .header__hum .menu-link {
  padding: 20px 20px 20px 20px;
  display: block;
  float: right;
  cursor: pointer;
}

header .header__hum .menu-link span {
  display: block;
  height: 2px;
  width: 32px;
  background: #1b559e;
  margin: 5px 0;
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

header .header__hum .menu-link:hover .line-1, header .header__hum .menu-link:focus .line-1 {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

header .header__hum .menu-link:hover .line-3, header .header__hum .menu-link:focus .line-3 {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

header .header__hum .menu-link.active span {
  background: #fff;
  -webkit-transition: opacity 0.1s linear, -webkit-transform 0.2s ease-out;
  transition: opacity 0.1s linear, -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out, opacity 0.1s linear;
  transition: transform 0.2s ease-out, opacity 0.1s linear, -webkit-transform 0.2s ease-out;
}

header .header__hum .menu-link.active .line-1 {
  -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
          transform: translateY(7px) translateX(0) rotate(45deg);
}

header .header__hum .menu-link.active .line-2 {
  opacity: 0;
}

header .header__hum .menu-link.active .line-3 {
  -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
          transform: translateY(-7px) translateX(0) rotate(-45deg);
}

header .header__nav {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  padding-top: 104px;
  z-index: 100;
  color: #fff;
  width: 260px;
  background: #1b559e;
}

header .header__nav a,
header .header__nav .nav__city {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 16px;
}

header .header__nav a form,
header .header__nav .nav__city form {
  text-align: right;
  position: relative;
}

header .header__nav a form select,
header .header__nav .nav__city form select {
  width: 260px;
  position: absolute;
  left: -48px;
  top: -7px;
  padding-left: 48px;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  background: none;
  color: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  z-index: 2;
  cursor: pointer;
  border-radius: 0;
}

header .header__nav a form select option,
header .header__nav .nav__city form select option {
  background: #1b559e;
}

header .header__nav a img,
header .header__nav .nav__city img {
  margin: 0 16px;
  width: 16px;
}

header .header__nav .rub img {
  height: 14px;
}

header .header__nav .nav__city a {
  margin-bottom: 0;
}

header .header__nav .nav__city a img {
  height: 16px;
}

header .header__nav .nav__line {
  height: 1px;
  background-color: #004397;
  margin: 12px 16px;
}

header .header__nav .nav__enter {
  margin-top: 120px;
}

header .header__nav .nav__enter a {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .black-list {
  display: none;
  position: absolute;
  z-index: 99;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

header .black-list.active {
  display: block;
}

.default {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.default .content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 0 15px;
}

.default.hidden {
  overflow: hidden;
}

.main {
  background: #fff;
}

.main__section {
  max-width: 864px;
  margin: 110px auto;
}

.main .intro .search-title span {
  color: #f15a22;
}

.main .intro .search-example {
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
}

.main .intro .search-example span {
  color: #2d333d;
}

.main .intro .sugg-new {
  margin: 74px 0 0 0;
  color: #2d333d;
}

.main .intro .sugg-new .sugg-title {
  font-weight: 600;
  text-align: center;
  padding-bottom: 36px;
}

.main .intro .sugg-new .sugg-boxes,
.main .intro .sugg-new .sugg-convert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .intro .sugg-new .sugg-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .intro .sugg-new .sugg-box:not(:last-child) {
  margin-right: 60px;
}

.main .intro .sugg-new .sugg-box .sugg-img {
  line-height: 0;
}

.main .intro .sugg-new .sugg-box .sugg-info {
  padding-left: 15px;
  font-size: 16px;
  line-height: 24px;
}

.main .container {
  width: 100%;
}

.main .benefits {
  color: #2d333d;
}

.main .benefits .benefits-title span {
  color: #1b559e;
}

.main .benefits .note-boxes {
  display: block;
}

.main .benefits .note-boxes .note-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 192px;
}

.main .benefits .note-boxes .note-box .note-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 13px;
}

.main .benefits .note-boxes .note-box .note-info {
  font-size: 16px;
  line-height: 24px;
}

.main .benefits .note-boxes .note-box .note-1 {
  max-width: 512px;
  margin-right: 8px;
}

.main .benefits .note-boxes .note-box .note-1 .note-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .benefits .note-boxes .note-box .note-1 .note-title .note-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 24px;
}

.main .benefits .note-boxes .note-box .note-2 {
  max-width: 336px;
  margin-left: 8px;
}

.main .benefits .note-boxes .note-box .note-2 .note-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 32px;
}

.main .benefits .note-boxes .note-box .note-2 .note-btn .btn-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  width: 72px;
  height: 32px;
  border-radius: 4px;
}

.main .benefits .note-boxes .note-box .note-2 .note-btn .btn-time.btn-time-1 {
  color: #1b559e;
  background: #fff;
  margin-right: 16px;
}

.main .benefits .note-boxes .note-box .note-2 .note-btn .btn-time.btn-time-2 {
  color: #fff;
  background: transparent;
  border: solid 1px #ffffff;
}

.main .benefits .note-boxes .note-box .note-3 {
  max-width: 50%;
  margin-right: 8px;
}

.main .benefits .note-boxes .note-box .note-4 {
  max-width: 50%;
  margin-left: 8px;
}

.main .benefits .note-boxes .note-box .note-4 .note-range {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 24px;
  padding-left: 17px;
  margin-top: 32px;
}

.main .benefits .note-boxes .note-box .note-4 .note-range .range-station {
  font-weight: 600;
  color: #2d333d;
}

.main .benefits .note-boxes .note-box .note-4 .note-range .range-station:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 50%;
  background: #0066ff;
}

.main .benefits .note-boxes .note-box .note-4 .note-range .range-step {
  margin-left: 10px;
  color: #8e99a7;
}

.main .benefits .note-boxes .note-box .note-1,
.main .benefits .note-boxes .note-box .note-2,
.main .benefits .note-boxes .note-box .note-3,
.main .benefits .note-boxes .note-box .note-4 {
  padding: 25px 24px 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
}

.main .benefits .note-boxes .note-box .note-1,
.main .benefits .note-boxes .note-box .note-4 {
  background: #fff;
  border: solid 1px #f2f2f2;
}

.main .benefits .note-boxes .note-box .note-1 .note-title,
.main .benefits .note-boxes .note-box .note-4 .note-title {
  color: #1b559e;
}

.main .benefits .note-boxes .note-box .note-2,
.main .benefits .note-boxes .note-box .note-3 {
  background: #1b559e;
  color: #fff;
}

.main .benefits .note-boxes .note-box:first-child {
  margin-bottom: 16px;
}

.main .faq .accordion {
  margin-top: 24px;
}

.main .faq .accordion .accordion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 56px;
  font-size: 16px;
  margin-bottom: 16px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #e3e3e3;
  background-color: #fff;
}

.main .faq .accordion .accordion-item .accordion-item-head {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 46px 18px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #2d333d;
  font-weight: 600;
}

.main .faq .accordion .accordion-item .accordion-item-head svg {
  min-width: 24px;
  min-height: 24px;
  margin: 0 24px;
}

.main .faq .accordion .accordion-item .accordion-item-head h3 {
  font-size: 16px;
  font-weight: 600;
}

.main .faq .accordion .accordion-item .accordion-item-head i {
  display: block;
  position: absolute;
  right: 24px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  top: 50%;
  width: 13px;
  height: 11px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: url(/arrow-header.svg);
  background-size: cover;
}

.main .faq .accordion .accordion-item .accordion-item-head.active {
  color: #f15a22;
}

.main .faq .accordion .accordion-item .accordion-item-head.active path {
  fill: #f15a22;
}

.main .faq .accordion .accordion-item .accordion-item-head.active i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main .faq .accordion .accordion-item .accordion-item-body {
  display: none;
}

.main .faq .accordion .accordion-item .accordion-item-head.active + .accordion-item-body {
  display: block !important;
  line-height: 24px;
  color: #2d333d;
  padding: 0 71px 17px;
}

.main .calc .calc-text {
  font-size: 16px;
  color: #8e99a7;
  font-weight: 500;
}

.main .calc #widgetApp {
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #f2f2f2;
  background-color: #ffffff;
  padding: 30px 88px 25px;
}

.main .calc #widgetApp .form_group label p {
  font-size: 16px;
  line-height: 24px;
  color: #2d333d;
}

.main .calc #widgetApp .form_group label select {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #8e99a7;
  outline: none;
}

.main .qq {
  max-width: 570px;
}

.main .qq .qq-content {
  margin-left: 10px;
}

.main .qq .qq-content .qq-links {
  margin: 24px 0 48px 0;
}

.main .qq .qq-content .qq-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .qq .qq-content .qq-links li:first-child {
  padding-bottom: 8px;
}

.main .qq .qq-content .qq-links a {
  text-decoration: underline;
}

.main .qq .qq-content .qq-links span {
  font-weight: 600;
}

.main .qq .qq-content .qq-exit li {
  position: relative;
  padding-left: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .qq .qq-content .qq-exit li:not(:last-child) {
  margin-bottom: 8px;
}

.main .qq .qq-content .qq-exit a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: #f15a22;
}

.main .qq .qq-content a {
  font-size: 16px;
  line-height: 24px;
  color: #1b559e;
  text-decoration: none;
}

.main .action .action-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(218px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
  grid-column-gap: 24px;
  grid-row-gap: 10px;
}

.main .action .action-content li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .action .action-content li a,
.main .action .action-content li h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .action .action-content li h3 {
  position: relative;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
}

.main .action .action-content li h3:before {
  content: "";
  position: absolute;
  width: 87px;
  height: 1px;
  background: #dde0e3;
  bottom: 0;
  left: 0;
}

.main .action .action-content li a {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #1b559e;
}

.main .section-title,
.results .section-title {
  font-size: 36px;
  margin-bottom: 24px;
  line-height: 40px;
  font-weight: 600;
  text-align: center;
  color: #171e2b;
}

.main .map,
.results .map {
  margin: 110px auto;
}

.main .map #map,
.results .map #map {
  height: 456px;
}

.main .map .ymap-container,
.results .map .ymap-container {
  height: 100%;
}

.main .map .ymap-container .ymaps-2-1-74-controls__control,
.main .map .ymap-container .ymaps-2-1-74-controls__toolbar,
.main .map .ymap-container .ymaps-2-1-75-controls__toolbar,
.main .map .ymap-container .controller,
.results .map .ymap-container .ymaps-2-1-74-controls__control,
.results .map .ymap-container .ymaps-2-1-74-controls__toolbar,
.results .map .ymap-container .ymaps-2-1-75-controls__toolbar,
.results .map .ymap-container .controller {
  display: none;
}

.card-right {
  max-width: 340px;
}

.card-right .slider-btn {
  width: 56px;
  height: 32px;
  font-size: 14px;
  line-height: 32px;
  border-radius: 4px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.card-right .slider-btn.active {
  background-color: #1b559e;
  color: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-right .slider-btn.active:hover {
  background-color: #004397;
}

.card-right .slider-btn.disabled {
  color: #8e99a7;
  border: 1px solid #8e99a7;
}

.card-right .slider-btn.default {
  border: 1px solid #1b559e;
  color: #1b559e;
}

.card-right .card-rightChoose {
  display: none;
  font-size: 12px;
  line-height: 16px;
  margin-top: 9px;
}

.card-right .card-rightChoose span {
  color: #1b559e;
  font-weight: 600;
}

.card-right .VueCarousel-navigation-button {
  outline: none;
}

.card-right .slider-month {
  cursor: pointer;
  width: 80px;
  margin: 0 auto;
}

.card-right .slider-month .material-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-right .slider-month div {
  font-size: 16px;
  line-height: 24px;
  color: #1b559e;
}

.card-right .slider-month div img {
  height: 9px;
  width: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-right .slider-days {
  margin: 17px 40px 0;
}

.card-right .slider-days .VueCarousel-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-right .block-times,
.card-right .fix__time {
  padding-top: 8px;
  margin: 8px 26px 40px;
  border-top: 1px solid #dde0e3;
}

.card-right .block-times ul,
.card-right .fix__time ul {
  display: -ms-grid;
  display: grid;
}

.card-right .block-times ul li,
.card-right .fix__time ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-right .block-times ul li .btn-time,
.card-right .fix__time ul li .btn-time {
  width: 48px;
}

.card-right .fix__time ul .fix__time-btn {
  height: 32px;
  width: 72px;
  line-height: 32px;
  border-radius: 4px;
  color: #fff;
  background-color: #1b559e;
}

.card-right .fix__time ul .fix__time-btn.none {
  color: #dde0e3;
  background-color: #fff;
  border: 1px solid #dde0e3;
  line-height: 28px;
}

.card-right .error img {
  margin-bottom: auto;
}

.card-right .error p {
  font-size: 14px;
  line-height: 16px;
  padding-left: 10px;
}

.card-right .change_date {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -margin: 13px 0 8px 0;
}

.card-right .change_date button {
  height: 24px;
  font-size: 12px;
  line-height: 16px;
  padding: 3px 22px 5px 22px;
  color: #1b559e;
  background: #fff;
  border: 1px solid #1b559e;
  border-radius: 4px;
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.results {
  color: #2d333d;
}

.results .results__section.notarys .card-right .block-times ul {
  -ms-grid-columns: (minmax(52px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(52px, 1fr));
  grid-auto-rows: 48px;
}

.results .search-fixed {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}

.results .search-fixed .search {
  padding: 23px 23px 25px 23px;
  margin: 8px 0 41px 0;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #e3e3e3;
  background-color: #ffffff;
}

.results .search-fixed .search-title {
  font-size: 24px;
  line-height: 32px;
  padding-bottom: 8px;
}

.results .search-fixed .search input {
  border-right: 1px solid #8e99a7;
}

.results .search-fixed .search input:focus {
  border: solid 1px #1b559e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.results .search-fixed .search .custom__selected {
  margin: 0 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results .search-fixed .search .custom__selected i {
  width: 10.5px;
  height: 9.5px;
  margin-left: 10px;
  background: url(/arrow-search.svg);
  background-size: cover;
}

.results .search-fixed .search input,
.results .search-fixed .search .custom__selected, .results .search-fixed .search-btn {
  border-radius: 4px;
}

.results .search-fixed .search .search-form-mb {
  display: none;
}

.results .notarys .slider-days {
  margin: 17px 26px 0;
}

.results .notarys .slider-month {
  text-align: center;
}

.results .notarys .slider-month div img {
  height: 13px;
  width: 7px;
}

.results .notarys .notarys-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 10px 24px;
}

.results .notarys .notarys-filter .checkbox {
  margin-right: 16px;
}

.results .notarys .notarys-filter .checkbox .checkbox__input {
  display: none;
}

.results .notarys .notarys-filter .checkbox .checkbox__input:checked + label::before {
  background: url("/checkbox.svg") no-repeat center;
  border-color: #f15a22;
}

.results .notarys .notarys-filter .checkbox .label-style {
  display: block;
  font-weight: 300;
  position: relative;
  margin-left: 26px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.results .notarys .notarys-filter .checkbox .label-style:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #8e99a7;
  position: absolute;
  left: -26px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  bottom: 0;
  background: #fff;
}

.results .notarys .pagination {
  text-align: center;
}

.results .notarys .pagination button {
  height: 40px;
  text-decoration: none;
  border: none;
  background: #fff;
  border-radius: 4px;
}

.results .notarys .pagination button:first-child, .results .notarys .pagination button:nth-last-child(2) {
  margin-right: 12px;
}

.results .notarys .pagination .page__num {
  width: 40px;
  margin-right: 22px;
  color: #8e99a7;
  border: solid 1px #8e99a7;
}

.results .notarys .pagination .page__num.active {
  color: #dde0e3;
  border: solid 1px #dde0e3;
}

.results .notarys .pagination .page__num.dots {
  width: inherit;
  border: none;
  font-weight: 600;
}

.results .notarys .pagination .arrow__pag {
  width: 72px;
  border-radius: 4px;
  background: #fff;
  border: solid 1px #dde0e3;
}

.results .notarys .pagination .arrow__pag.active {
  background-color: #1b559e;
  border: none;
}

.results .notarys .pagination .arrow__pag.active:hover {
  background-color: #004397;
}

.results .notarys .pagination .arrow__pag.active:active {
  background-color: #003d8a;
}

.results .notarys .pagination .arrow__pag.next {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page {
  padding: 10px 0;
}

.page .search-fixed .search {
  margin-top: 0;
}

.page .search-fixed .search form .back-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: inherit;
  height: 48px;
  width: 72px;
  margin-right: 16px;
  padding: 0 20px;
  border-radius: 4px;
  border: solid 1px #dde0e3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.page .search-fixed .search form .back-btn:hover {
  border-color: #8e99a7;
}

.page .search-fixed .search form .back-btn img {
  display: block;
  max-width: 33px;
  height: 12px;
}

.page .container {
  margin-bottom: 10px;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #e3e3e3;
}

.page .container .center-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .container .title-page {
  margin-bottom: 20px;
}

.page .container .title-page h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.page .left-container {
  max-width: 60%;
  padding: 0 24px 0 18px;
}

.page .left-container .notary-list {
  margin-bottom: 0;
}

.page .left-container .notary-list .notary-card.result-card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 0;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
  padding: 24px 0 0 0;
  margin-bottom: 0;
  border: none;
}

.page .left-container .notary-list .notary-card.result-card .card-left-mb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .left-container .notary-list .notary-card.result-card .card-left-mb .card-name-mb {
  display: none;
}

.page .left-container .notary-list .notary-card.result-card .card-left-mb .card-name-mb .card-year {
  border-bottom: 0;
}

.page .left-container .notary-list .notary-card.result-card .showMap {
  display: none;
  padding-top: 8px;
  font-size: 12px;
  line-height: 16px;
  color: #1b559e;
  cursor: pointer;
  text-decoration: underline;
}

.page .left-container .notary-list .notary-card.result-card .card-center-mb {
  display: none;
  margin-top: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #e3e3e3;
}

.page .left-container .notary-list .notary-card.result-card .card-center-mb .sign-map {
  width: 100%;
  border-radius: 4px 4px 0 0;
  background-color: #1b559e;
}

.page .left-container .notary-list .notary-card.result-card .card-center-mb .sign-map h2 {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 11px 0;
}

.page .left-container .notary-list .notary-card.result-card .card-center-mb .card-right {
  max-width: 100%;
}

.page .left-container .notary-list .notary-card.result-card .card-center-mb .card-right .slider-month,
.page .left-container .notary-list .notary-card.result-card .card-center-mb .card-right .slider-days {
  width: 100%;
}

.page .left-container .notary-list .notary-card.result-card .card-center-mb .card-right .slider-month > div,
.page .left-container .notary-list .notary-card.result-card .card-center-mb .card-right .slider-days > div {
  width: 90%;
  margin: 0 auto;
}

.page .left-container .notary-list .notary-card.result-card .card-center-mb .card-right .slider-month {
  padding: 8px 0;
  border-bottom: 1px solid #e3e3e3;
}

.page .left-container .notary-list .notary-card.result-card .card-center-mb .card-right .slider-days {
  margin: 12px 0;
}

.page .left-container .notary-list .notary-card.result-card .card-center-mb .card-right .slider-days .slider-btn {
  height: 24px;
  line-height: 24px;
  width: 56px;
}

.page .left-container .notary-list .notary-card.result-card .card-bottom {
  margin-top: 28px;
}

.page .left-container .notary-list .notary-card.result-card .card-bottom .info-notary {
  padding-bottom: 28px;
  border-bottom: solid 1px #f2f2f2;
}

.page .left-container .notary-list .notary-card.result-card .card-bottom .info-notary ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .left-container .notary-list .notary-card.result-card .card-bottom .info-notary ul li:not(:last-child) {
  padding-bottom: 18px;
}

.page .left-container .notary-list .notary-card.result-card .card-bottom .info-notary ul li p {
  font-size: 14px;
  line-height: 16px;
}

.page .left-container .notary-list .notary-card.result-card .card-bottom .info-notary ul li p span {
  color: #8e99a7;
}

.page .left-container .page-reviews {
  padding: 24px 0 60px;
}

.page .left-container .page-reviews .tabs {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3px;
}

.page .left-container .page-reviews .tabs a {
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-bottom: 1px solid #e3e3e3;
}

.page .left-container .page-reviews .tabs a:first-child {
  margin-right: 22px;
}

.page .left-container .page-reviews .tabs a.active {
  border-bottom: 2px solid #f15a22;
}

.page .left-container .page-reviews .reviews-list {
  margin: 20px 0;
  font-size: 14px;
  line-height: 16px;
}

.page .left-container .page-reviews .reviews-list .review-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #f2f2f2;
  padding: 26px 32px 20px;
}

.page .left-container .page-reviews .reviews-list .review-item:not(:last-child) {
  margin-bottom: 24px;
}

.page .left-container .page-reviews .reviews-list .review-item .review-stars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 8px;
}

.page .left-container .page-reviews .reviews-list .review-item .review-stars .review-star {
  margin-right: 2px;
}

.page .left-container .page-reviews .reviews-list .review-item .review-stars p {
  margin-left: 6px;
}

.page .left-container .page-reviews .reviews-list .review-item .review-text {
  margin-bottom: 32px;
}

.page .left-container .page-reviews .reviews-list .review-item .review-name {
  color: #8e99a7;
  font-weight: 600;
}

.page .left-container .page-reviews .reviews-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page .left-container .page-reviews .reviews-btn button {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px;
  padding: 0 12px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.page .left-container .page-reviews .reviews-btn .show-btn {
  background: #8e99a7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.page .left-container .page-reviews .reviews-btn .show-btn:hover {
  background: #8a94a0;
}

.page .left-container .page-reviews .reviews-btn .review-btn {
  background: #1b559e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.page .left-container .page-reviews .reviews-btn .review-btn:hover {
  background: #004397;
}

.page .left-container .page-reviews .reviews-btn .review-btn[disabled]:hover {
  background: #1b559e;
  cursor: not-allowed;
}

.page .right-container {
  max-width: 40%;
  padding: 20px 24px 0 0;
}

.page .right-container .sticky-sign {
  position: -webkit-sticky;
  position: sticky;
  top: 110px;
  max-width: 100%;
  border: 1px solid #1b559e;
}

.page .right-container .sticky-sign .sign-map {
  padding: 20px;
  background: #1b559e;
  text-align: center;
}

.page .right-container .sticky-sign .sign-map img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.page .right-container .sticky-sign .sign-map h2 {
  color: #fff;
  text-transform: uppercase;
}

.page .right-container .sticky-sign .card-right.sign-date {
  text-align: center;
  max-width: inherit;
  padding-top: 10px;
}

.page .right-container .sticky-sign .card-right.sign-date .block-times {
  margin: 8px 30px 0;
}

.page .right-container .sticky-sign .card-right.sign-date .block-times .btn-time {
  background: #1b559e;
  color: #fff;
}

.page .right-container .sticky-sign .card-right.sign-date .block-times li:nth-child(5n + 5) {
  margin-right: 12px;
}

.page .right-container .sticky-sign .card-right.sign-date .block-times li:nth-child(6n + 6) {
  margin-right: 0;
}

.page .right-container .sticky-sign .card-right.sign-date .fix__time ul {
  -ms-grid-columns: (minmax(72px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(72px, 1fr));
  grid-column-gap: 25px;
  grid-row-gap: 12px;
}

.page .notarys-slider {
  margin: 20px 72px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .notarys-slider h2 {
  text-align: center;
}

.page .notarys-slider .notary-list {
  margin: 0 8px;
}

.page .notarys-slider .notary-card.other-card {
  padding: 16px;
  margin-bottom: 0;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #e3e3e3;
}

.page .notarys-slider .notary-card.other-card .card-left .card-avatar .notary-avatar {
  width: 80px;
  height: 88px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-avatar .notary-stars {
  margin-top: 10px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-center .card-spec {
  line-height: 16px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-center .card-name {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 8px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-center .card-year,
.page .notarys-slider .notary-card.other-card .card-left .card-center .card-subway .subway-item {
  font-size: 12px;
  line-height: 16px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-center .subway-item .subway-color {
  width: 4px;
  height: 4px;
}

.page .notarys-slider .notary-card.other-card .card-left .card-center .subway-item .subway-step img {
  width: 8px;
  height: 10px;
}

.page .notarys-slider .card-bottom-mb {
  display: none;
}

.page .notarys-slider .VueCarousel-navigation-button img {
  width: 12px;
  height: 24px;
}

.page .page-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 28px 24px;
}

.page .page-phone .page__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page .page-phone .page__left h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-right: 24px;
}

.page .page-phone .page__left .page__left-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.page .page-phone .page__left .page__left-num p {
  font-size: 16px;
  line-height: 24%;
}

.page .page-phone .page__left .page__left-num p img {
  margin-right: 8px;
}

.page .page-phone .page__left .page__left-num p:first-of-type {
  margin-right: 32px;
}

.page .page-phone .page__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .page-phone .page__right .page-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page .page-phone .page__right .page-arrows img {
  margin-right: 18px;
}

.page .page-phone .page__right .page-arrows img:last-of-type {
  margin-right: 24px;
}

.page .page-phone .page__right button {
  font-size: 16px;
  line-height: 24px;
  width: 250px;
  height: 52px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background-color: #1b559e;
}

.notes.results .search {
  margin: 16px 0 36px 0;
}

.notes.results .search .search-formDate {
  margin-right: 12px;
}

.notes.results .search .search-formDate button:last-of-type {
  display: none;
}

.notes.results .notes-title {
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 36px;
  font-weight: 600;
}

.notes.results .notarys .notary-list .result-card.notes-card {
  display: block;
  -webkit-box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
  border: solid 1px #f2f2f2;
  padding: 0;
  border-radius: 4px;
}

.notes.results .notarys .notary-list .result-card.notes-card.done {
  opacity: 0.7;
}

.notes.results .notarys .notary-list .result-card.notes-card .notary-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #1b559e;
  color: #fff;
  padding: 11px 24px;
  border-radius: 4px 4px 0 0;
  font-size: 14px;
  line-height: 16px;
}

.notes.results .notarys .notary-list .result-card.notes-card .notary-top .top-note .note-date {
  font-weight: 600;
  padding-bottom: 8px;
}

.notes.results .notarys .notary-list .result-card.notes-card .notary-top .top-note__btn button {
  height: 40px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  padding: 0 8px;
  border: none;
}

.notes.results .notarys .notary-list .result-card.notes-card .notary-top .top-note__btn .btn-left__action {
  width: 160px;
  background: #004397;
  color: #fff;
  margin-right: 16px;
}

.notes.results .notarys .notary-list .result-card.notes-card .notary-top .top-note__btn .btn-right__action {
  width: 136px;
  background: #fff;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left {
  border-radius: 0;
  padding: 24px 24px 20px;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 5px;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-avatar .notary-avatar {
  width: 80px;
  height: 80px;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-avatar .notary-stars {
  padding-top: 6px;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-avatar .rev {
  font-size: 14px;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-center {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-center .card-subway .subway-item .subway-step {
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.notes.results .notarys .notary-list .result-card.notes-card .card-left .card-center .card-subway .subway-item .subway-step img {
  padding-right: 6px;
}

.profile {
  padding-top: 78px;
}

.profile .wrap {
  max-width: 688px;
}

.profile .profile-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 600;
  padding-bottom: 40px;
}

.profile form .form-box {
  position: relative;
  margin-bottom: 8px;
}

.profile form .form-box input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #8e99a7;
  color: #000;
  padding: 8px 16px;
}

.profile form .btn-profile {
  margin-top: 34px;
  text-align: right;
}

.profile form .btn-profile .profile-save {
  width: 160px;
  height: 40px;
  border-radius: 4px;
  background-color: #1b559e;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  border: none;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 143px;
  padding-top: 25px;
  background: #2d333d;
  color: #fff;
}

footer .wrap {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .wrap .footer__left .footer__logo,
footer .wrap .footer__infoDev .footer__logo {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}

footer .wrap .footer__left .footer__info,
footer .wrap .footer__left .footer__dev,
footer .wrap .footer__infoDev .footer__info,
footer .wrap .footer__infoDev .footer__dev {
  font-size: 14px;
  line-height: 16px;
  color: #8e99a7;
}

footer .wrap .footer__left .footer__dev,
footer .wrap .footer__infoDev .footer__dev {
  padding-top: 15px;
}

footer .wrap .footer__left .footer__dev a,
footer .wrap .footer__infoDev .footer__dev a {
  color: #8e99a7;
}

footer .wrap .footer__navs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrap .footer__navs .footer__nav:first-child {
  padding-right: 60px;
}

footer .wrap .footer__navs .footer__list li {
  font-size: 14px;
  line-height: 16px;
}

footer .wrap .footer__navs .footer__list li a {
  color: #fff;
  text-decoration: none;
}

footer .wrap .footer__navs .footer__list li:not(:last-child) {
  padding-bottom: 16px;
}

footer .wrap .footer__right {
  font-size: 14px;
  line-height: 16px;
}

footer .wrap .footer__right .footer__mail {
  padding-bottom: 16px;
}

footer .wrap .footer__right .footer__mail a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  font-weight: 600;
}

footer .wrap .footer__right .footer__phone span {
  font-weight: 600;
}

footer .wrap .footer__infoDev {
  display: none;
}
/*# sourceMappingURL=style.css.map */