* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  font-family: Open Sans;
}


ul * {
  list-style-type: none;
}

input,
button {
  outline: none;
}

button {
  cursor: pointer;
}

@mixin slider-btn {
  .slider-btn {
    width: 56px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    border-radius: 4px;
    text-align: center;
    user-select: none;
    cursor: pointer;

    &.active {
      background-color: #1b559e;
      color: #fff;
    }

    &.disabled {
      color: #8e99a7;
      border: 1px solid #8e99a7;
    }

    &.default {
      border: 1px solid #1b559e;
      color: #1b559e;
    }
  }
}

@mixin dropdown {
  position: absolute;
  top: 40px;
  background: #fff;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  min-width: 190px;

  ul {
    padding: 15px 0;
    text-align: left;

    li {
      padding: 0 30px;
      cursor: pointer;
      font-size: 14px;
      color: #2d333d;
      line-height: 24px;

      &:hover {
        background: #dbebff;
      }

      &.selected {
        position: relative;
        font-weight: 600;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 14px;
          transform: translate(0, -50%);
          width: 6.5px;
          height: 6.5px;
          background: url('/check.svg') no-repeat;
        }
      }
    }
  }
}

header .wrap,
footer .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  height: 100%;
  margin: 0 auto;
}

.search {
  margin: 36px 0 9px 0;

  .search-top {
    display: flex;
    justify-content: space-between;

    .search-icons {
      display: flex;

      img:first-child {
        padding-right: 12px;
      }
    }
  }

  &-form {
    display: flex;
    justify-content: center;
    height: 48px;

    input {
      font-size: 14px;
      line-height: 16px;
      color: #8e99a7;
      width: 100%;
      border: 1px solid #1b559e;
      border-right: none;
      padding-left: 16px;
      border-radius: 4px 0 0 4px;
    }

    .search-date,
    .search-btn {
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      color: #fff;
      min-width: 160px;
      text-align: center;
      cursor: pointer;
    }

    .search-date {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f15a22;
      box-shadow: 0 8px 25px 0 rgba(241, 90, 34, 0.15);

      i {
        display: block;
        width: 9.4px;
        height: 8.5px;
        margin-left: 15px;
        background: url("/arrow-search.svg");
        background-size: cover;
      }
    }

    .date-dropdown {
      @include dropdown;
      left: 0;
      top: 53px;
    }

    .search-btn {
      background: #1b559e;
      box-shadow: 0 8px 25px 0 rgba(27, 85, 158, 0.15);
      border: none;
      text-decoration: none;
      line-height: 48px;
      border-radius: 0 4px 4px 0;
    }
  }
}

header {
  flex: 0 0 auto;
  background: #fff;
  height: 104px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);

  .header__left {
    .header__logo {
      display: flex;

      a {
        text-decoration: none;
        padding-top: 5px;
      }

      p {
        font-family: "PT Sans", sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: #2d333d;
        font-weight: bold;
      }
    }

    .header__logo-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 14px;
      line-height: 16px;
      color: #8e99a7;
      padding-left: 17px;

      .header__counter {
        padding-top: 10px;

        strong {
          font-weight: 600;
        }
      }
    }
  }

  .header__menu {
    ul {
      display: inline-flex;

      li:not(:last-child) {
        padding-right: 56px;
      }

      a {
        font-size: 14px;
        line-height: 16px;
        color: #2d333d;
        text-decoration: none;
      }
    }
  }

  .header__right {
    text-align: right;
    width: 220px;

    .header__caption {
      font-size: 14px;
      line-height: 16px;
      color: #8e99a7;
      padding-bottom: 6px;

      p {
        width: 100%;

        strong {
          color: #f15a22;
        }
      }
    }

    .header__phone {
      display: inline-flex;
      font-size: 16px;
      line-height: 24px;
      color: #2d333d;

      .phone {
        position: relative;
        height: 24px;
        width: 24px;
        margin-right: 13px;
        background: #1b559e;
        border-radius: 50%;

        &:before {
          content: " ";
          position: absolute;
          width: 24px;
          height: 100%;
          left: 0;
          top: 0;
          background-size: contain;
          color: black;
          background: url("/phone.svg") no-repeat center;
        }
      }
    }

    .header__select {
      display: inline-flex;
      align-items: center;

      .header__city {
        position: relative;
        user-select: none;

        .fade-enter-active,
        .fade-leave-active {
          transition: opacity .2s;
        }

        .fade-enter,
        .fade-leave-to

        /* .fade-leave-active до версии 2.1.8 */
          {
          opacity: 0;
        }

        .city__selected {
          display: flex;
          align-items: center;
          padding: 0 10px;
          border-radius: 5px;
          margin-right: 5px;
          cursor: pointer;

          &:hover {
            background: rgb(241, 241, 241);
          }

          span {
            font-size: 16px;
            line-height: 24px;
            color: #8e99a7;
          }

          i {
            display: block;
            width: 8px;
            height: 7px;
            margin-left: 10px;
            background: url("/arrow-header.svg");
            background-size: cover;
          }
        }

        .city__list {
          @include dropdown;

        }
      }

      button {
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        color: #1b559e;
        background: none;
        border: none;
      }
    }
  }
}

.default {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content-wrapper {
    flex: 1 0 auto;
  }
}

.main {
  background: #fff;

  &__section {
    max-width: 864px;
    margin: 135px auto;

    .section-title {
      font-size: 36px;
      line-height: 40px;
      font-weight: 600;
      text-align: center;
      color: #171e2b;
    }
  }

  .intro {
    .search-title {
      span {
        color: #f15a22;
      }
    }

    .search-example {
      font-size: 14px;
      line-height: 16px;
      color: #8e99a7;

      span {
        color: #2d333d;
      }
    }

    .sugg-new {
      margin: 74px 0 0 0;
      font-size: 16px;
      line-height: 24px;
      color: #2d333d;

      .sugg-title {
        font-weight: 600;
        text-align: center;
        padding-bottom: 36px;
      }

      .sugg-boxes {
        display: flex;

        .sugg-box {
          display: flex;
          justify-content: center;
          align-items: center;

          &:not(:last-child) {
            margin-right: 60px;
          }

          .sugg-img {
            line-height: 0;
          }

          .sugg-info {
            padding-left: 15px;
          }
        }
      }
    }
  }

  .container {
    width: 100%;
  }

  .benefits {
    color: #2d333d;

    .benefits-title {
      span {
        color: #1b559e;
      }
    }

    .note-boxes {
      display: block;
      margin: 24px 0 112px 0;

      .note-box {
        display: flex;
        min-height: 192px;

        .note-1 {
          max-width: 512px;
          margin-right: 8px;

          .note-title {
            display: flex;

            .note-stars {
              display: flex;
              padding-left: 24px;
            }
          }
        }

        .note-2 {
          max-width: 336px;
          margin-left: 8px;

          .note-btn {
            display: flex;
            margin-top: 20px;

            .btn-time {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              line-height: 16px;
              font-weight: 600;
              width: 72px;
              height: 32px;
              border-radius: 4px;

              &.btn-time-1 {
                color: #1b559e;
                background: #fff;
                margin-right: 16px;
              }

              &.btn-time-2 {
                color: #fff;
                background: transparent;
                border: solid 1px #ffffff;
              }
            }
          }
        }

        .note-3 {
          max-width: 50%;
          margin-right: 8px;
        }

        .note-4 {
          max-width: 50%;
          margin-left: 8px;

          .note-range {
            position: relative;
            display: flex;
            font-size: 16px;
            line-height: 24px;
            padding-left: 17px;
            margin-top: 32px;

            .range-station {
              font-weight: 600;
              color: #2d333d;

              &:before {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                border-radius: 50%;
                background: #0066ff;
              }
            }

            .range-step {
              margin-left: 10px;
              color: #8e99a7;
            }
          }
        }

        .note-1,
        .note-2,
        .note-3,
        .note-4 {
          padding: 25px 24px 0 24px;
          border-radius: 4px;
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);

          .note-title {
            font-size: 18px;
            font-weight: 600;
            line-height: 32px;
            margin-bottom: 13px;
          }

          .note-info {
            font-size: 16px;
            line-height: 24px;
          }
        }

        .note-1,
        .note-4 {
          background: #fff;
          border: solid 1px #f2f2f2;

          .note-title {
            color: #1b559e;
          }
        }

        .note-2,
        .note-3 {
          background: #1b559e;
          color: #fff;
        }

        &:first-child {
          margin-bottom: 16px;
        }
      }
    }
  }

  .faq {
    .accordion {
      margin-top: 4px;

      .accordion-item {
        display: flex;
        flex-direction: column;
        position: relative;
        min-height: 56px;
        font-size: 16px;
        line-height: 56px;
        margin-bottom: 16px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
        background-color: #fafafa;

        .accordion-item-head {
          position: relative;
          font-size: 16px;
          display: flex;
          color: #8e99a7;
          font-weight: 600;

          svg {
            margin: auto 24px;
          }

          i {
            display: block;
            position: absolute;
            right: 24px;
            transform: translate(0, -50%);
            top: 50%;
            width: 13px;
            height: 11px;
            background: url(/arrow-header.svg);
            background-size: cover;
          }

          &.active {
            color: #f15a22;

            path {
              fill: #f15a22;
            }

            i {
              transform: rotate(180deg);
              transition: 0.3s;
            }
          }
        }

        .accordion-item-body {
          display: none;
        }

        .accordion-item-head.active+.accordion-item-body {
          display: block !important;
          line-height: 24px;
          color: #2d333d;
          padding: 8px 71px 17px;
        }
      }
    }
  }

  .calc {
    .calc-text {
      font-size: 16px;
      color: #8e99a7;
      font-weight: 500;
    }

    #widgetApp {
      border-radius: 4px;
      box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
      border: solid 1px #f2f2f2;
      background-color: #ffffff;
      padding: 30px 88px 25px;

      .form_group {
        label {
          p {
            font-size: 16px;
            line-height: 24px;
            color: #2d333d;
          }

          select {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            border: solid 1px #8e99a7;
            outline: none;
          }
        }
      }
    }
  }

  .qq {
    max-width: 570px;

    .qq-content {
      margin-left: 10px;

      .qq-links {
        margin: 24px 0 48px 0;

        li:first-child {
          padding-bottom: 8px;
        }
      }

      .qq-exit {
        li {
          position: relative;
          padding-left: 16px;

          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }

        a:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          width: 8px;
          height: 8px;
          border-radius: 2px;
          background-color: #f15a22;
        }
      }

      a {
        font-size: 16px;
        line-height: 24px;
        color: #1b559e;
        text-decoration: none;
      }
    }
  }

  .action {
    .action-content {
      column-count: 3;
      grid-column-gap: 45px;
      column-gap: 45px;

      li {
        display: flex;
        flex-direction: column;

        a,
        h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h3 {
          font-size: 16px;
          line-height: 24px;
          color: #8e99a7;
        }

        a {
          font-size: 14px;
          line-height: 16px;
          color: #1b559e;
        }
      }
    }
  }

  .map {
    .map-title {
      margin-bottom: 20px;
    }

    .map-img {
      max-width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

// Слайдер от results 
.card-right {
  @include slider-btn;
  max-width: 340px;

  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    background-image: url("/Polygon.svg");
  }

  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: url("/PolygonL.svg");
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 8px;
    height: 15px;
    margin-top: 0;
    transform: translate(0, -50%);
    background-size: inherit;
  }

  .slider-month {
    cursor: pointer;

    .swiper-container {
      width: 130px;

      .swiper-slide {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        color: #2d333d;
      }
    }
  }

  .slider-days {
    margin-top: 17px;

    .swiper-container {
      width: 340px;
    }

    .swiper-button-prev,
    .swiper-button-next,
    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
      background-color: #fff;
      height: 33px;
      width: 20px;
    }

    .swiper-button-prev {
      left: 0;
    }

    .swiper-button-next {
      right: 0;
      box-shadow: -18px 0px 21px 0px rgba(255, 255, 255, 1);
    }
  }

  .block-times {
    padding-top: 8px;
    margin: 8px 26px 0;
    border-top: 1px solid #dde0e3;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        margin: 0 12px 16px 0;

        .btn-time {
          width: 48px;
        }

        &:nth-child(5n+5) {
          margin-right: 0;
        }
      }
    }
  }

  .error {
    display: flex;

    img {
      margin-bottom: auto;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      padding-left: 10px;
    }
  }
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.wrap {
  max-width: 1086px;
  margin: 0 auto;
}

.results {
  color: #2d333d;

  .search-fixed {
    position: sticky;
    top: 0;
    z-index: 5;

    .search {
      padding: 23px 23px 25px 23px;
      margin: 8px 0 41px 0;
      border-radius: 4px;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
      background-color: #ffffff;

      &-title {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 8px;
      }

      input {
        border-right: 1px solid #1b559e;
      }

      &-date {
        margin: 0 16px;

        i {
          width: 10.5px;
          height: 9.5px;
          margin-left: 10px;
        }
      }

      input,
      &-date,
      &-btn {
        border-radius: 4px;
      }
    }
  }

  .notarys {
    .notarys-filter {
      display: flex;
      margin-bottom: 10px;

      .checkbox {
        margin-right: 16px;

        .checkbox__input {
          display: none;

          &:checked+label::before {
            background: url("/checkbox.svg") no-repeat center;
            border-color: #f15a22;
          }
        }

        .label-style {
          display: block;
          font-weight: 300;
          position: relative;
          margin-left: 31px;
          cursor: pointer;
          border-bottom: 1px solid transparent;

          &:before {
            content: "";
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: 1px solid #8e99a7;
            position: absolute;
            left: -26px;
            top: 50%;
            transform: translate(0, -50%);
            bottom: 0;
            background: #fff;
          }
        }
      }
    }

    .notary-list {
      .notary-card {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 24px;
        padding: 24px 24px 14px 24px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);

        .card-left {
          display: flex;

          .card-avatar {
            padding-right: 16px;
            text-align: center;
            color: #2d333d;

            .notary-avatar {
              width: 160px;
              height: 160px;
              border-radius: 4px;
            }

            .notary-stars {
              display: flex;
              justify-content: center;

              .notary-star:not(:last-child) {
                margin-right: 2px;
              }
            }

            .rev {
              font-size: 12px;
              line-height: 16px;

              a {
                text-decoration: none;
                color: #2d333d;
              }
            }
          }

          .card-center {
            .card-spec {
              font-size: 12px;
              line-height: 4px;
              color: #8e99a7;
            }

            .card-name {
              font-size: 24px;
              line-height: 32px;

              a {
                text-decoration: none;
                color: #2d333d;
              }
            }

            .card-year {
              font-size: 16px;
              line-height: 24px;
              color: #8e99a7;
            }

            .card-subway {
              margin-top: 16px;

              .subway-item {
                display: flex;
                font-size: 16px;
                line-height: 24px;
                font-weight: 600;
                align-items: center;

                .subway-step {
                  padding-left: 10px;
                  color: #8e99a7;
                  font-weight: normal;
                }

                .subway-color {
                  width: 8px;
                  height: 8px;
                  margin-right: 8px;
                  background: green;
                  border-radius: 50%;
                }
              }
            }

            .card-adress {
              font-size: 14px;
              color: #8e99a7;
              line-height: 16px;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}

.page {
  padding: 10px 0;

  .search-fixed {
    .search {
      margin-top: 0;

      form {
        .back-btn {
          background: inherit;
          height: 48px;
          width: 72px;
          margin-right: 16px;
          padding: 0 20px;
          border-radius: 4px;
          border: solid 1px #dde0e3;

          img {
            max-width: 33px;
            height: 12px;
          }
        }
      }
    }
  }

  .container {
    margin-bottom: 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.05);
  }

  .center-container {
    display: flex;
    justify-content: space-between;
  }

  .left-container {
    max-width: 60%;
    padding: 0 24px 0 18px;

    .notary-card.result-card {
      flex-direction: column;
      background: #fff;
      border-radius: 0;
      box-shadow: inherit;
      padding: 24px 0 0 0;
      margin-bottom: 0;

      .card-bottom {
        padding: 28px 0;
        border-bottom: solid 1px #f2f2f2;

        h2 {
          font-weight: 500;
          font-size: 24px;
          line-height: 32px;
          padding-bottom: 20px;
        }

        ul {
          display: flex;
          flex-direction: column;

          li {
            &:not(:last-child) {
              padding-bottom: 18px;
            }

            p {
              font-size: 14px;
              line-height: 16px;

              span {
                color: #8e99a7;
              }
            }
          }
        }
      }
    }

    .page-reviews {
      padding: 30px 0 60px;

      h2 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
      }

      .reviews-list {
        margin: 20px 0;
        font-size: 14px;
        line-height: 16px;

        .review-item {
          display: flex;
          flex-direction: column;
          border-radius: 4px;
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          border: solid 1px #f2f2f2;
          padding: 26px 32px 20px;
          margin-bottom: 24px;

          .review-stars {
            display: inline-flex;
            margin-bottom: 8px;

            .review-star {
              margin-right: 2px;
            }

            p {
              margin-left: 6px;
            }
          }

          .review-text {
            margin-bottom: 32px;
          }

          .review-name {
            color: #8e99a7;
            font-weight: 600;
          }
        }
      }

      .reviews-btn {
        display: flex;
        justify-content: space-between;

        .show-btn,
        .review-btn {
          height: 32px;
          line-height: 32px;
          font-size: 14px;
          font-weight: 500;
          border-radius: 4px;
          padding: 0 12px;
          color: #fff;
          cursor: pointer;
          border: none;
        }

        .show-btn {
          background: #8e99a7;
        }

        .review-btn {
          background: #1b559e;
        }
      }
    }
  }

  .right-container {
    max-width: 40%;
    padding: 20px 24px 0 0;

    .sticky-sign {
      position: sticky;
      top: 110px;
      max-width: 100%;
      border: 1px solid #1b559e;

      .sign-map {
        padding: 20px;
        background: #1b559e;
        text-align: center;

        img {
          object-fit: contain;
          max-width: 100%;
        }

        h2 {
          color: #fff;
          text-transform: uppercase;
        }
      }

      .card-right.sign-date {
        text-align: center;
        max-width: inherit;
        padding-top: 10px;

        .slider-month {
          .swiper-container {
            position: relative;
          }
        }

        .slider-days {
          position: relative;

          .swiper-container,
          .swiper-wrapper {
            position: static;
          }

          .swiper-button-prev,
          .swiper-button-next,
          .swiper-button-prev.swiper-button-disabled,
          .swiper-button-next.swiper-button-disabled {
            width: 10px;
          }

          .swiper-button-prev {
            left: 20px;
          }

          .swiper-button-next {
            right: 20px;
            box-shadow: none;
          }
        }

        .block-times {
          .btn-time {
            background: #1b559e;
            color: #fff;
          }

          li:nth-child(5n+5) {
            margin-right: 12px;
          }
        }
      }
    }
  }

  .notarys-slider {
    margin: 20px 72px 0;
    transition: .3s;

    h2 {
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      font-weight: 500;
    }

    .swiper-container {
      padding: 40px 0;
    }

    .notary-card.other-card {
      padding: 16px;
      margin-bottom: 0;

      .card-left {
        .card-avatar {
          .notary-avatar {
            width: 80px;
            height: 88px;
          }

          .notary-stars {
            margin-top: 10px;
          }
        }

        .card-center {
          .card-spec {
            line-height: 16px;
          }

          .card-name {
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 8px;
          }

          .card-year,
          .card-subway .subway-item {
            font-size: 12px;
            line-height: 16px;
          }

          .subway-item {
            .subway-color {
              width: 4px;
              height: 4px;
            }

            .subway-step {
              img {
                width: 8px;
                height: 10px;
              }
            }
          }
        }
      }
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      transition: .3s;
    }

    .swiper-slide-next {
      transform: scale(1.14);

      .notary-list .notary-card {
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
        border: solid 2px #8e99a7;
      }
    }
  }


}

.notes.results {
  margin-top: 70px;

  .notes-title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 36px;
    font-weight: 600;
  }

  .notarys .notary-list .result-card.notes-card {
    display: block;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #f2f2f2;
    padding: 0;
    border-radius: 4px;

    &.done {
      opacity: 0.7;
    }

    .notary-top {
      display: flex;
      justify-content: space-between;
      background: #1b559e;
      color: #fff;
      padding: 11px 24px;
      border-radius: 4px 4px 0 0;
      font-size: 14px;
      line-height: 16px;

      .top-note {
        .note-date {
          font-weight: 600;
          padding-bottom: 8px;
        }
      }

      .top-note__btn {

        .btn-left__action,
        .btn-right__action {
          height: 40px;
          font-size: 14px;
          line-height: 16px;
          border-radius: 4px;
          padding: 0 8px;
          border: none;
        }

        .btn-left__action {
          min-width: 160px;
          background: #004397;
          color: #fff;
          margin-right: 16px;
        }

        .btn-right__action {
          min-width: 136px;
          background: #fff;
        }
      }
    }

    .card-left {
      border-radius: 0;
      padding: 24px 24px 20px;

      .card-avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 0;

        .notary-avatar {
          width: 80px;
          height: 80px;
        }

        .notary-stars {
          padding-top: 6px;
        }

        .rev {
          font-size: 14px;
        }
      }

      .card-center {
        width: 85%;
        display: flex;
        padding-left: 32px;
        justify-content: space-between;

        .card-subway .subway-item {
          font-weight: 500;

          .subway-step {
            font-size: 14px;
            line-height: 16px;
            display: flex;
            justify-content: center;

            img {
              padding-right: 6px;
            }
          }
        }
      }
    }
  }
}

.profile {
  padding-top: 78px;

  .wrap {
    max-width: 688px;
  }

  .profile-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    padding-bottom: 40px;
  }

  form {
    .form-box {
      position: relative;

      input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: solid 1px #8e99a7;
        color: #000;
        padding: 8px 16px;
        margin-bottom: 8px;
      }
    }

    .btn-profile {
      margin-top: 34px;
      text-align: right;

      .profile-save {
        width: 160px;
        height: 40px;
        border-radius: 4px;
        background-color: #1b559e;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        border: none;
      }
    }
  }
}

footer {
  flex: 0 0 auto;
  height: 143px;
  padding-top: 25px;
  background: #2d333d;
  color: #fff;

  .wrap {
    align-items: flex-start;

    .footer__left {
      .footer__logo {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
      }

      .footer__info,
      .footer__dev {
        font-size: 14px;
        line-height: 16px;
        color: #8e99a7;
      }

      .footer__dev {
        padding-top: 15px;

        a {
          color: #8e99a7;
        }
      }
    }

    .footer__navs {
      display: flex;

      .footer__nav:first-child {
        padding-right: 60px;
      }

      .footer__list {
        li {
          font-size: 14px;
          line-height: 16px;

          a {
            color: #fff;
            text-decoration: none;
          }

          &:not(:last-child) {
            padding-bottom: 16px;
          }
        }
      }
    }

    .footer__right {
      font-size: 14px;
      line-height: 16px;

      .footer__mail {
        padding-bottom: 16px;

        a {
          color: #fff;
          font-size: 14px;
          text-decoration: none;
        }
      }
    }
  }
}