* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__nuxt,
#__layout {
  height: 100%;
  font-family: Open Sans;
}

ul * {
  list-style-type: none;
}

input,
button {
  outline: none;
}

button {
  font-family: Open Sans;
  cursor: pointer;
}

button[disabled] {
  opacity: 0.7;
}

$orangeStatic: #f15a22;
$blueStatic: #1b559e;
$blueHover: #004397;
$blueActive: #003d8a;
$grey: #8e99a7;
$lightGrey: #f2f2f2;

@mixin slider-btn {
  .slider-btn {
    width: 56px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    border-radius: 4px;
    text-align: center;
    user-select: none;
    border: solid 1px #8e99a7;
    cursor: pointer;

    &.active {
      background-color: $blueStatic;
      color: #fff;
      transition: 0.2s;
      border: none;

      &:hover {
        background-color: $blueHover;
      }
    }

    &.disabled {
      color: $grey;
      border: 1px solid $grey;
    }

    &.default {
      border: 1px solid $blueStatic;
      color: $blueStatic;
    }
  }
}

@mixin dropdown {
  position: absolute;
  top: 40px;
  background: #fff;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  min-width: 190px;

  ul {
    padding: 15px 0;
    text-align: left;

    li {
      padding: 0 30px;
      cursor: pointer;
      font-size: 14px;
      color: #2d333d;
      line-height: 24px;

      &:hover {
        background: #dbebff;
      }

      &.selected {
        position: relative;
        font-weight: 600;

        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 14px;
          transform: translate(0, -50%);
          width: 6.5px;
          height: 6.5px;
          background: url("/check.svg") no-repeat;
        }
      }
    }
  }
}

header .wrap,
footer .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  height: 100%;
  margin: 0 auto;
}

.search {
  margin: 36px 0 9px 0;

  .search-top {
    display: flex;
    justify-content: space-between;

    .search-icons {
      display: flex;

      img:first-child {
        padding-right: 12px;
      }
    }
  }

  &-form,
  &-formDate {
    display: flex;
    justify-content: center;
    height: 48px;
  }

  input {
    font-size: 14px;
    line-height: 16px;
    color: $grey;
    width: 100%;
    border: 1px solid $grey;
    border-right: none;
    padding-left: 16px;
    border-radius: 4px 0 0 4px;

    &:focus {
      border: solid 1px $blueStatic;
      border-right: 0;
      transition: 0.3s;
    }
  }

  .custom__selected,
  .search-btn {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    color: #fff;
    min-width: 160px;
    text-align: center;
    cursor: pointer;
  }

  .custom__selected {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
    outline: none;
    background: $orangeStatic;
    box-shadow: 0 8px 25px 0 rgba(241, 90, 34, 0.15);

    &:hover {
      background-color: #e85516;
      transition: all 0.2s linear;
    }

    .custom__title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      i {
        display: block;
        width: 9.4px;
        height: 8.5px;
        margin-left: 15px;
        background: url("/arrow-search.svg");
        background-size: cover;
        transition: all 0.2s linear;

        &.rotate {
          transform: rotate(180deg);
        }
      }
    }

    img {
      display: none;
    }
  }

  .date-dropdown {
    @include dropdown;
    left: 0;
    top: 53px;
    min-width: 210px;
  }

  .search-btn {
    background: $blueStatic;
    box-shadow: 0 8px 25px 0 rgba(27, 85, 158, 0.15);
    border: none;
    text-decoration: none;
    line-height: 48px;
    border-radius: 0 4px 4px 0;
    transition: 0.2s;

    &:hover {
      background: $blueHover;
    }

    &:active {
      background: $blueActive;
    }
  }

  &-formDate {
    width: 100%;

    img {
      display: none;
      cursor: pointer;
    }
  }
}

.notary-list {
  margin-bottom: 30px;

  .notary-card {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    padding: 24px 24px 14px 24px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e3e3e3;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    .card-left {
      display: flex;

      .card-avatar {
        padding-right: 16px;
        text-align: center;
        color: #2d333d;

        .notary-avatar {
          width: 160px;
          height: 160px;
          border-radius: 4px;
        }

        .rev {
          font-size: 12px;
          line-height: 16px;

          a {
            text-decoration: none;
            color: #2d333d;
          }
        }
      }

      .card-center {
        .card-spec {
          font-size: 12px;
          line-height: 4px;
          color: $grey;
        }

        .card-name {
          font-size: 24px;
          line-height: 32px;

          a {
            text-decoration: none;
            color: #2d333d;
          }
        }

        .card-year {
          font-size: 16px;
          line-height: 24px;
          color: $grey;
        }

        .card-subway {
          margin-top: 16px;

          .subway-item {
            display: flex;
            font-size: 16px;
            line-height: 24px;
            font-weight: 600;
            align-items: center;

            .subway-step {
              padding-left: 10px;
              color: $grey;
              font-weight: normal;
            }

            .subway-color {
              width: 8px;
              height: 8px;
              margin-right: 8px;
              background: green;
              border-radius: 50%;
            }
          }
        }

        .card-adress {
          font-size: 14px;
          color: $grey;
          line-height: 16px;
          margin-top: 8px;
        }
      }
    }
  }
}

header {
  flex: 0 0 auto;
  background: #fff;
  position: relative;
  height: 104px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);

  .header__left {
    .header__logo {
      display: flex;

      a {
        text-decoration: none;
        padding-top: 5px;
      }

      p {
        font-family: "PT Sans", sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: #2d333d;
        font-weight: bold;
      }
    }

    .header__logo-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 14px;
      line-height: 16px;
      color: $grey;
      padding-left: 17px;

      .header__counter {
        padding-top: 10px;

        strong {
          font-weight: 600;
        }
      }
    }
  }

  .header__menu {
    ul {
      display: inline-flex;

      li:not(:last-child) {
        padding-right: 56px;
      }

      a {
        font-size: 14px;
        line-height: 16px;
        color: #2d333d;
        text-decoration: none;
      }
    }
  }

  .header__right {
    text-align: right;
    width: 220px;

    .header__caption {
      font-size: 14px;
      line-height: 16px;
      color: $grey;
      padding-bottom: 6px;

      p {
        width: 100%;

        strong {
          color: $orangeStatic;
        }
      }
    }

    .header__phone {
      display: inline-flex;
      font-size: 16px;
      line-height: 24px;
      color: #2d333d;

      .phone {
        position: relative;
        height: 24px;
        width: 24px;
        margin-right: 13px;
        background: $blueStatic;
        border-radius: 50%;

        &:before {
          content: " ";
          position: absolute;
          width: 24px;
          height: 100%;
          left: 0;
          top: 0;
          background-size: contain;
          color: black;
          background: url("/phone.svg") no-repeat center;
        }
      }
    }

    .header__select {
      display: inline-flex;
      align-items: center;

      .customSelect,
      .lk {
        position: relative;
        user-select: none;

        .custom__selected {
          display: flex;
          align-items: center;
          padding: 0 10px;
          border-radius: 5px;
          margin-right: 5px;
          cursor: pointer;
          outline: none;

          &:hover {
            background: #f2f2f2;
          }

          &:active {
            background: #ececec;
          }

          .custom__title {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 24px;
            color: $grey;

            p {
              white-space: nowrap;
              overflow: hidden;
              width: 62px;
              text-align: left;
              text-overflow: ellipsis;
            }

            i {
              display: block;
              width: 8px;
              height: 7px;
              margin-left: 10px;
              background: url("/arrow-header.svg");
              background-size: cover;
              transition: all 0.2s linear;

              &.rotate {
                transform: rotate(180deg);
              }
            }
          }
        }

        .custom__list {
          position: absolute;
          top: 30px;
          left: 0;
          background: #fff;
          font-weight: 500;
          border-radius: 4px;
          box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
          min-width: 190px;
          z-index: 99;
          padding: 15px 0;
          text-align: left;

          .item {
            padding: 0 30px;
            cursor: pointer;
            font-size: 14px;
            color: #2d333d;
            line-height: 24px;

            &:hover {
              background: #dbebff;
            }

            &.selected {
              position: relative;
              font-weight: 600;

              &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 14px;
                transform: translate(0, -50%);
                width: 6.5px;
                height: 6.5px;
                background: url("/check.svg") no-repeat;
              }
            }
          }
        }

        .selectHide {
          display: none;
        }
      }

      .lk {
        font-size: 14px;
        line-height: 16px;
        color: $blueStatic;
        cursor: pointer;

        &:hover {
          color: $blueHover;
        }

        .custom__list {
          right: 0;
          top: inherit;
          left: inherit;

          a {
            color: #2d333d;
            text-decoration: none;

            &:hover {
              color: #2d333d;
            }
          }
        }
      }
    }
  }


  .header__hum {
    display: none;
    position: absolute;
    right: 0;
    z-index: 101;

    .menu-link {
      padding: 20px 20px 20px 20px;
      display: block;
      float: right;
      cursor: pointer;

      span {
        display: block;
        height: 2px;
        width: 32px;
        background: $blueStatic;
        margin: 5px 0;
        transition: transform 0.1s linear;
      }

      &:hover,
      &:focus {
        .line-1 {
          transform: translateY(-2px);
        }

        .line-3 {
          transform: translateY(2px);
        }
      }

      &.active {
        span {
          background: #fff;
          transition: transform 0.2s ease-out, opacity 0.1s linear;
        }

        .line-1 {
          transform: translateY(7px) translateX(0) rotate(45deg);
        }

        .line-2 {
          opacity: 0;
        }

        .line-3 {
          transform: translateY(-7px) translateX(0) rotate(-45deg);
        }
      }
    }
  }

  .header__nav {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 104px;
    z-index: 100;
    color: #fff;
    width: 260px;
    background: $blueStatic;

    a,
    .nav__city {
      align-items: center;
      display: flex;
      justify-content: flex-start;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      text-decoration: none;
      margin-bottom: 16px;

      form {
        text-align: right;
        position: relative;

        select {
          width: 260px;
          position: absolute;
          left: -48px;
          top: -7px;
          padding-left: 48px;
          border: 0;
          font-weight: 600;
          font-size: 14px;
          line-height: 16px;
          background: none;
          color: #fff;
          appearance: none;
          outline: none;
          z-index: 2;
          cursor: pointer;
          border-radius: 0;

          option {
            background: $blueStatic;
          }
        }
      }

      img {
        margin: 0 16px;
        width: 16px;
      }
    }

    .rub {
      img {
        height: 14px;
      }
    }

    .nav__city {
      a {
        margin-bottom: 0;

        img {
          height: 16px;
        }
      }
    }

    .nav__line {
      height: 1px;
      background-color: #004397;
      margin: 12px 16px;
    }

    .nav__enter {
      margin-top: 120px;

      a {
        justify-content: flex-end;
      }
    }
  }

  .black-list {
    display: none;
    position: absolute;
    z-index: 99;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);

    &.active {
      display: block;
    }
  }
}

.default {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content-wrapper {
    flex: 1 0 auto;
    padding: 0 15px;
  }

  &.hidden {
    overflow: hidden;
  }
}

.main {
  background: #fff;

  &__section {
    max-width: 864px;
    margin: 110px auto;
  }

  .intro {
    .search-title {
      span {
        color: $orangeStatic;
      }
    }

    .search-example {
      font-size: 14px;
      line-height: 16px;
      color: $grey;

      span {
        color: #2d333d;
      }
    }

    .sugg-new {
      margin: 74px 0 0 0;
      color: #2d333d;

      .sugg-title {
        font-weight: 600;
        text-align: center;
        padding-bottom: 36px;
      }

      .sugg-boxes,
      .sugg-convert {
        display: flex;
      }

      .sugg-box {
        display: flex;
        justify-content: center;
        align-items: center;

        &:not(:last-child) {
          margin-right: 60px;
        }

        .sugg-img {
          line-height: 0;
        }

        .sugg-info {
          padding-left: 15px;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    .customSelect,
    .lk {
      position: relative;
      user-select: none;

      // .custom__selected {
      //   display: flex;
      //   align-items: center;
      //   padding: 0 10px;
      //   border-radius: 5px;
      //   margin-right: 5px;
      //   cursor: pointer;
      //   outline: none;

      //   &:hover {
      //     background: #f2f2f2;
      //   }

      //   &:active {
      //     background: #ececec;
      //   }

      //   .custom__title {
      //     display: flex;
      //     align-items: center;
      //     font-size: 14px;
      //     line-height: 24px;
      //     color: $grey;

      //     p {
      //       white-space: nowrap;
      //       overflow: hidden;
      //       width: 62px;
      //       text-align: left;
      //       text-overflow: ellipsis;
      //     }

      //     i {
      //       display: block;
      //       width: 8px;
      //       height: 7px;
      //       margin-left: 10px;
      //       background: url("/arrow-header.svg");
      //       background-size: cover;
      //       transition: all 0.2s linear;

      //       &.rotate {
      //         transform: rotate(180deg);
      //       }
      //     }
      //   }
      // }

      .custom__list {
        position: absolute;
        top: 50px;
        left: 0;
        background: #fff;
        font-weight: 500;
        border-radius: 4px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
        min-width: 190px;
        z-index: 99;
        padding: 15px 0;
        text-align: left;

        .item {
          padding: 0 30px;
          cursor: pointer;
          font-size: 14px;
          color: #2d333d;
          line-height: 24px;

          &:hover {
            background: #dbebff;
          }

          &.selected {
            position: relative;
            font-weight: 600;

            &:before {
              content: "";
              position: absolute;
              top: 50%;
              left: 14px;
              transform: translate(0, -50%);
              width: 6.5px;
              height: 6.5px;
              background: url("/check.svg") no-repeat;
            }
          }
        }
      }

      .selectHide {
        display: none;
      }
    }
  }

  .container {
    width: 100%;
  }

  .benefits {
    color: #2d333d;

    .benefits-title {
      span {
        color: $blueStatic;
      }
    }

    .note-boxes {
      display: block;

      .note-box {
        display: flex;
        min-height: 192px;

        .note-title {
          font-size: 18px;
          font-weight: 600;
          line-height: 32px;
          margin-bottom: 13px;
        }

        .note-info {
          font-size: 16px;
          line-height: 24px;
        }

        .note-1 {
          max-width: 512px;
          margin-right: 8px;

          .note-title {
            display: flex;

            .note-stars {
              display: flex;
              padding-left: 24px;
            }
          }
        }

        .note-2 {
          max-width: 336px;
          margin-left: 8px;

          .note-btn {
            display: flex;
            margin-top: 32px;

            .btn-time {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 14px;
              line-height: 16px;
              font-weight: 600;
              width: 72px;
              height: 32px;
              border-radius: 4px;

              &.btn-time-1 {
                color: $blueStatic;
                background: #fff;
                margin-right: 16px;
              }

              &.btn-time-2 {
                color: #fff;
                background: transparent;
                border: solid 1px #ffffff;
              }
            }
          }
        }

        .note-3 {
          max-width: 50%;
          margin-right: 8px;
        }

        .note-4 {
          max-width: 50%;
          margin-left: 8px;

          .note-range {
            position: relative;
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 24px;
            padding-left: 17px;
            margin-top: 32px;

            .range-station {
              font-weight: 600;
              color: #2d333d;

              &:before {
                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                top: 50%;
                left: 0;
                transform: translate(0, -50%);
                border-radius: 50%;
                background: #0066ff;
              }
            }

            .range-step {
              margin-left: 10px;
              color: $grey;
            }
          }
        }

        .note-1,
        .note-2,
        .note-3,
        .note-4 {
          padding: 25px 24px 20px;
          border-radius: 4px;
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
        }

        .note-1,
        .note-4 {
          background: #fff;
          border: solid 1px #f2f2f2;

          .note-title {
            color: $blueStatic;
          }
        }

        .note-2,
        .note-3 {
          background: $blueStatic;
          color: #fff;
        }

        &:first-child {
          margin-bottom: 16px;
        }
      }
    }
  }

  .faq {
    .accordion {
      margin-top: 24px;

      .accordion-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        min-height: 56px;
        font-size: 16px;
        margin-bottom: 16px;
        border-radius: 4px;
        cursor: pointer;
        box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
        border: solid 1px #e3e3e3;
        background-color: #fff;

        .accordion-item-head {
          position: relative;
          display: flex;
          align-items: center;
          padding: 14px 46px 18px 0;
          user-select: none;
          color: #2d333d;
          font-weight: 600;

          svg {
            min-width: 24px;
            min-height: 24px;
            margin: 0 24px;
          }

          h3 {
            font-size: 16px;
            font-weight: 600;
          }

          i {
            display: block;
            position: absolute;
            right: 24px;
            transform: translate(0, -50%);
            top: 50%;
            width: 13px;
            height: 11px;
            transition: 0.3s;
            background: url(/arrow-header.svg);
            background-size: cover;
          }

          &.active {
            color: $orangeStatic;

            path {
              fill: $orangeStatic;
            }

            i {
              transform: rotate(180deg);
              transition: 0.3s;
            }
          }
        }

        .accordion-item-body {
          display: none;
        }

        .accordion-item-head.active+.accordion-item-body {
          display: block !important;
          line-height: 24px;
          color: #2d333d;
          padding: 0 71px 17px;
        }
      }
    }
  }

  .calc {
    .calc-text {
      font-size: 16px;
      color: $grey;
      font-weight: 500;
    }

    #widgetApp {
      border-radius: 4px;
      box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
      border: solid 1px #f2f2f2;
      background-color: #ffffff;
      padding: 30px 88px 25px;

      .form_group {
        label {
          p {
            font-size: 16px;
            line-height: 24px;
            color: #2d333d;
          }

          select {
            width: 100%;
            height: 40px;
            border-radius: 4px;
            border: solid 1px $grey;
            outline: none;
          }
        }
      }
    }
  }

  .qq {
    max-width: 570px;

    .qq-content {
      margin-left: 10px;

      .qq-links {
        margin: 24px 0 48px 0;

        li {
          display: flex;
        }

        li:first-child {
          padding-bottom: 8px;
        }

        a {
          text-decoration: underline;
        }

        span {
          font-weight: 600;
        }
      }

      .qq-exit {
        li {
          position: relative;
          padding-left: 16px;
          display: flex;

          &:not(:last-child) {
            margin-bottom: 8px;
          }
        }

        a:before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          width: 8px;
          height: 8px;
          border-radius: 2px;
          background-color: $orangeStatic;
        }
      }

      a {
        font-size: 16px;
        line-height: 24px;
        color: $blueStatic;
        text-decoration: none;
      }
    }
  }

  .action {
    .action-content {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(218px, 1fr));
      grid-column-gap: 24px;
      grid-row-gap: 10px;

      li {
        display: flex;
        flex-direction: column;

        a,
        h3 {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        h3 {
          position: relative;
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          margin-bottom: 8px;

          &:before {
            content: "";
            position: absolute;
            width: 87px;
            height: 1px;
            background: #dde0e3;
            bottom: 0;
            left: 0;
          }
        }

        a {
          font-size: 14px;
          line-height: 16px;
          text-decoration: none;
          color: $blueStatic;
        }
      }
    }
  }
}

.main,
.results {
  .section-title {
    font-size: 36px;
    margin-bottom: 24px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    color: #171e2b;
  }

  .map {
    margin: 110px auto;

    #map {
      height: 456px;
    }

    .ymap-container {
      height: 100%;

      .ymaps-2-1-74-controls__control,
      .ymaps-2-1-74-controls__toolbar,
      .ymaps-2-1-75-controls__toolbar,
      .controller {
        display: none;
      }
    }
  }
}

// Слайдер от results
.card-right {
  @include slider-btn;
  max-width: 340px;

  .card-rightChoose {
    display: none;
    font-size: 12px;
    line-height: 16px;
    margin-top: 9px;

    span {
      color: $blueStatic;
      font-weight: 600;
    }
  }

  .VueCarousel-navigation-button {
    outline: none;
  }

  .slider-month {
    cursor: pointer;
    width: 80px;
    margin: 0 auto;

    .material-icons {
      display: flex;
      align-items: center;
    }

    div {
      font-size: 16px;
      line-height: 24px;
      color: $blueStatic;

      img {
        height: 9px;
        width: 5px;
        object-fit: cover;
      }
    }
  }

  .slider-days {
    margin: 17px 40px 0;

    .VueCarousel-slide {
      display: flex;
      justify-content: center;
    }
  }

  .block-times,
  .fix__time {
    padding-top: 8px;
    margin: 8px 26px 40px;
    border-top: 1px solid #dde0e3;

    ul {
      display: grid;

      li {
        display: flex;
        justify-content: center;

        .btn-time {
          width: 48px;
        }
      }
    }
  }

  .fix__time {
    ul {
      .fix__time-btn {
        height: 32px;
        width: 72px;
        line-height: 32px;
        border-radius: 4px;
        color: #fff;
        background-color: $blueStatic;

        &.none {
          color: #dde0e3;
          background-color: #fff;
          border: 1px solid #dde0e3;
          line-height: 28px;
        }
      }
    }
  }

  .error {
    display: flex;

    img {
      margin-bottom: auto;
    }

    p {
      font-size: 14px;
      line-height: 16px;
      padding-left: 10px;
    }
  }

  .change_date {
    display: none;
    justify-content: center;
    -margin: 13px 0 8px 0;

    button {
      height: 24px;
      font-size: 12px;
      line-height: 16px;
      padding: 3px 22px 5px 22px;
      color: $blueStatic;
      background: #fff;
      border: 1px solid $blueStatic;
      border-radius: 4px;
    }
  }
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

.results {
  color: #2d333d;

  .results__section {
    &.notarys {
      .card-right {
        .block-times {
          ul {
            grid-template-columns: repeat(auto-fill, minmax(41px, 1fr));
            grid-column-gap: 13px;
            grid-row-gap: 10px;
          }
        }
      }
    }
  }

  .search-fixed {
    position: sticky;
    top: 0;
    z-index: 5;

    .search {
      padding: 23px 23px 25px 23px;
      margin: 8px 0 41px 0;
      border-radius: 4px;
      box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
      border: solid 1px #e3e3e3;
      background-color: #ffffff;

      &-title {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 8px;
      }

      input {
        border-right: 1px solid $grey;
      }

      input:focus {
        border: solid 1px $blueStatic;
        transition: 0.3s;
      }

      .custom__selected {
        margin: 0 16px;
        align-items: center;

        i {
          width: 10.5px;
          height: 9.5px;
          margin-left: 10px;
          background: url(/arrow-search.svg);
          background-size: cover;
        }
      }

      input,
      .custom__selected,
      &-btn {
        border-radius: 4px;
      }

      .search-form-mb {
        display: none;
      }
    }

    .custom__list {
      position: absolute;
      top: 50px;
      left: 0;
      background: #fff;
      font-weight: 500;
      border-radius: 4px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
      min-width: 190px;
      z-index: 99;
      padding: 15px 0;
      text-align: left;

      .item {
        padding: 0 30px;
        cursor: pointer;
        font-size: 14px;
        color: #2d333d;
        line-height: 24px;

        &:hover {
          background: #dbebff;
        }

        &.selected {
          position: relative;
          font-weight: 600;

          &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 14px;
            transform: translate(0, -50%);
            width: 6.5px;
            height: 6.5px;
            background: url("/check.svg") no-repeat;
          }
        }
      }
    }

    .selectHide {
      display: none;
    }
  }

  .notarys {
    .slider-days {
      margin: 17px 26px 0;
    }

    .slider-month {
      text-align: center;

      div img {
        height: 13px;
        width: 7px;
      }
    }

    .notarys-filter {
      display: flex;
      margin: 0 0 10px 24px;

      .checkbox {
        margin-right: 16px;

        .checkbox__input {
          display: none;

          &:checked+label::before {
            background: url("/checkbox.svg") no-repeat center;
            border-color: $orangeStatic;
          }
        }

        .label-style {
          display: block;
          font-weight: 300;
          position: relative;
          margin-left: 26px;
          cursor: pointer;
          border-bottom: 1px solid transparent;

          &:before {
            content: "";
            width: 16px;
            height: 16px;
            border-radius: 4px;
            border: 1px solid $grey;
            position: absolute;
            left: -26px;
            top: 50%;
            transform: translate(0, -50%);
            bottom: 0;
            background: #fff;
          }
        }
      }
    }

    .pagination {
      text-align: center;

      button {
        height: 40px;
        text-decoration: none;
        border: none;
        background: #fff;
        border-radius: 4px;

        &:first-child,
        &:nth-last-child(2) {
          margin-right: 12px;
        }
      }

      .page__num {
        width: 40px;
        margin-right: 22px;
        color: $grey;
        border: solid 1px $grey;

        &.active {
          color: #dde0e3;
          border: solid 1px #dde0e3;
        }

        &.dots {
          width: inherit;
          border: none;
          font-weight: 600;
        }
      }

      .arrow__pag {
        width: 72px;
        border-radius: 4px;
        background: #fff;
        border: solid 1px #dde0e3;

        &.active {
          background-color: $blueStatic;
          border: none;

          &:hover {
            background-color: $blueHover;
          }

          &:active {
            background-color: $blueActive;
          }
        }

        &.next {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.page {
  padding: 10px 0;

  .search-fixed {
    .search {
      margin-top: 0;

      form {
        .back-btn {
          display: flex;
          align-items: center;
          background: inherit;
          height: 48px;
          width: 72px;
          margin-right: 16px;
          padding: 0 20px;
          border-radius: 4px;
          border: solid 1px #dde0e3;
          transition: 0.2s;

          &:hover {
            border-color: $grey;
          }

          img {
            display: block;
            max-width: 33px;
            height: 12px;
          }
        }
      }
    }
  }

  .container {
    margin-bottom: 10px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #e3e3e3;

    .center-container {
      display: flex;
      justify-content: space-between;
    }

    .title-page {
      margin-bottom: 20px;

      h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .left-container {
    width: 100%;
    padding: 0 24px 0 18px;

    .notary-list {
      margin-bottom: 0;

      .notary-card.result-card {
        flex-direction: column;
        background: #fff;
        border-radius: 0;
        box-shadow: inherit;
        padding: 24px 0 0 0;
        margin-bottom: 0;
        border: none;

        .card-left-mb {
          display: flex;

          .card-name-mb {
            display: none;

            .card-year {
              border-bottom: 0;
            }
          }
        }

        .showMap {
          display: none;
          padding-top: 8px;
          font-size: 12px;
          line-height: 16px;
          color: $blueStatic;
          cursor: pointer;
          text-decoration: underline;
        }

        .card-center-mb {
          display: none;
          margin-top: 30px;
          border-radius: 4px;
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          border: solid 1px #e3e3e3;

          .sign-map {
            width: 100%;
            border-radius: 4px 4px 0 0;
            background-color: $blueStatic;

            h2 {
              font-size: 14px;
              line-height: 16px;
              color: #fff;
              text-align: center;
              font-weight: 600;
              padding: 11px 0;
            }
          }

          .card-right {
            max-width: 100%;

            .slider-month,
            .slider-days {
              width: 100%;

              &>div {
                width: 90%;
                margin: 0 auto;
              }
            }

            .slider-month {
              padding: 8px 0;
              border-bottom: 1px solid #e3e3e3;
            }

            .slider-days {
              margin: 12px 0;

              .slider-btn {
                height: 24px;
                line-height: 24px;
                width: 56px;
              }
            }
          }
        }

        .card-bottom {
          margin-top: 28px;

          .info-notary {
            padding-bottom: 28px;
            border-bottom: solid 1px #f2f2f2;

            ul {
              display: flex;
              flex-direction: column;

              li {
                &:not(:last-child) {
                  padding-bottom: 18px;
                }

                p {
                  font-size: 14px;
                  line-height: 16px;

                  span {
                    color: $grey;
                  }
                }
              }
            }
          }
        }
      }
    }

    .page-reviews {
      padding: 24px 0 60px;

      .tabs {
        display: none;
        justify-content: center;
        padding-bottom: 3px;

        a {
          font-size: 14px;
          line-height: 16px;
          cursor: pointer;
          transition: 0.4s;
          border-bottom: 1px solid #e3e3e3;

          &:first-child {
            margin-right: 22px;
          }

          &.active {
            border-bottom: 2px solid $orangeStatic;
          }
        }
      }

      .reviews-list {
        margin: 20px 0;
        font-size: 14px;
        line-height: 16px;

        .review-item {
          display: flex;
          flex-direction: column;
          border-radius: 4px;
          box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
          border: solid 1px #f2f2f2;
          padding: 26px 32px 20px;

          &:not(:last-child) {
            margin-bottom: 24px;
          }

          .review-stars {
            display: inline-flex;
            margin-bottom: 8px;

            .review-star {
              margin-right: 2px;
            }

            p {
              margin-left: 6px;
            }
          }

          .review-text {
            margin-bottom: 32px;
          }

          .review-name {
            color: $grey;
            font-weight: 600;
          }
        }
      }

      .reviews-btn {
        display: flex;
        justify-content: space-between;

        button {
          height: 32px;
          line-height: 32px;
          font-size: 14px;
          font-weight: 500;
          border-radius: 4px;
          padding: 0 12px;
          color: #fff;
          cursor: pointer;
          border: none;
        }

        .show-btn {
          background: $grey;
          transition: 0.2s;

          &:hover {
            background: #8a94a0;
          }
        }

        .review-btn {
          background: $blueStatic;
          transition: 0.2s;

          &:hover {
            background: $blueHover;
          }
        }

        .review-btn[disabled]:hover {
          background: $blueStatic;
          cursor: not-allowed;
        }
      }
    }
  }

  .right-container {
    max-width: 424px;
    padding: 20px 24px 0 0;

    .sticky-sign {
      position: sticky;
      top: 110px;
      max-width: 100%;
      border: 1px solid $blueStatic;

      .sign-map {
        padding: 20px;
        background: $blueStatic;
        text-align: center;

        img {
          object-fit: contain;
          max-width: 100%;
        }

        h2 {
          color: #fff;
          text-transform: uppercase;
        }
      }

      .card-right.sign-date {
        text-align: center;
        max-width: inherit;
        padding-top: 10px;

        .block-times {
          margin: 8px 30px 0;

          .btn-time {
            background: $blueStatic;
            color: #fff;
          }

          li:nth-child(5n + 5) {
            margin-right: 12px;
          }

          li:nth-child(6n + 6) {
            margin-right: 0;
          }
        }

        .fix__time {
          ul {
            grid-template-columns: repeat(auto-fill, minmax(71px, 1fr));
            grid-column-gap: 20px;
            grid-row-gap: 12px;
          }
        }
      }
    }
  }

  .notarys-slider {
    margin: 20px 72px;
    transition: 0.3s;

    h2 {
      text-align: center;
    }

    .notary-list {
      margin: 0 8px;
    }

    .notary-card.other-card {
      padding: 16px;
      margin-bottom: 0;
      box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
      border: solid 1px #e3e3e3;

      .card-left {
        .card-avatar {
          .notary-avatar {
            width: 80px;
            height: 88px;
          }

          .notary-stars {
            margin-top: 10px;
          }
        }

        .card-center {
          .card-spec {
            line-height: 16px;
          }

          .card-name {
            font-size: 14px;
            line-height: 16px;
            padding-bottom: 8px;
          }

          .card-year,
          .card-subway .subway-item {
            font-size: 12px;
            line-height: 16px;
          }

          .subway-item {
            .subway-color {
              width: 4px;
              height: 4px;
            }

            .subway-step {
              img {
                width: 8px;
                height: 10px;
              }
            }
          }
        }
      }
    }

    .card-bottom-mb {
      display: none;
    }

    .VueCarousel-navigation-button img {
      width: 12px;
      height: 24px;
    }
  }

  .page-phone {
    display: flex;
    justify-content: space-between;
    margin: 28px 24px;

    .page__left {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        margin-right: 24px;
      }

      .page__left-num {
        display: flex;
        flex-wrap: wrap;

        p {
          font-size: 16px;
          line-height: 24%;

          img {
            margin-right: 8px;
          }

          &:first-of-type {
            margin-right: 32px;
          }
        }
      }
    }

    .page__right {
      display: flex;

      .page-arrows {
        display: flex;
        align-items: center;

        img {
          margin-right: 18px;

          &:last-of-type {
            margin-right: 24px;
          }
        }
      }

      button {
        font-size: 16px;
        line-height: 24px;
        width: 250px;
        height: 52px;
        border-radius: 4px;
        border: none;
        color: #fff;
        background-color: $blueStatic;
      }
    }
  }
}

.notes.results {
  .search {
    margin: 16px 0 36px 0;

    .search-formDate {
      margin-right: 12px;

      button:last-of-type {
        display: none;
      }
    }
  }

  .notes-title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 36px;
    font-weight: 600;
  }

  .notarys .notary-list .result-card.notes-card {
    display: block;
    box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.03);
    border: solid 1px #f2f2f2;
    padding: 0;
    border-radius: 4px;

    &.done {
      opacity: 0.7;
    }

    .notary-top {
      display: flex;
      justify-content: space-between;
      background: $blueStatic;
      color: #fff;
      padding: 11px 24px;
      border-radius: 4px 4px 0 0;
      font-size: 14px;
      line-height: 16px;

      .top-note {
        .note-date {
          font-weight: 600;
          padding-bottom: 8px;
        }
      }

      .top-note__btn {
        button {
          height: 40px;
          font-size: 14px;
          line-height: 16px;
          border-radius: 4px;
          padding: 0 8px;
          border: none;
        }

        .btn-left__action {
          width: 160px;
          background: #004397;
          color: #fff;
          margin-right: 16px;
        }

        .btn-right__action {
          width: 136px;
          background: #fff;
        }
      }
    }

    .card-left {
      border-radius: 0;
      padding: 24px 24px 20px;

      .card-avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 5px;

        .notary-avatar {
          width: 80px;
          height: 80px;
        }

        .notary-stars {
          padding-top: 6px;
        }

        .rev {
          font-size: 14px;
        }
      }

      .card-center {
        width: 85%;
        display: flex;
        padding-left: 32px;
        justify-content: space-between;

        .card-subway .subway-item {
          .subway-step {
            font-size: 14px;
            line-height: 16px;
            display: flex;
            justify-content: center;

            img {
              padding-right: 6px;
            }
          }
        }
      }
    }
  }
}

.profile {
  padding-top: 78px;

  .wrap {
    max-width: 688px;
  }

  .profile-title {
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
    padding-bottom: 40px;
  }

  form {
    .form-box {
      position: relative;
      margin-bottom: 8px;

      input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: solid 1px $grey;
        color: #000;
        padding: 8px 16px;
      }
    }

    .btn-profile {
      margin-top: 34px;
      text-align: right;

      .profile-save {
        width: 160px;
        height: 40px;
        border-radius: 4px;
        background-color: $blueStatic;
        color: #fff;
        font-size: 14px;
        line-height: 16px;
        border: none;
      }
    }
  }
}

footer {
  flex: 0 0 auto;
  min-height: 143px;
  padding-top: 25px;
  background: #2d333d;
  color: #fff;

  .wrap {
    align-items: flex-start;

    .footer__left,
    .footer__infoDev {
      .footer__logo {
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 10px;
      }

      .footer__info,
      .footer__dev {
        font-size: 14px;
        line-height: 16px;
        color: $grey;
      }

      .footer__dev {
        padding-top: 15px;

        a {
          color: $grey;
        }
      }
    }

    .footer__navs {
      display: flex;

      .footer__nav:first-child {
        padding-right: 60px;
      }

      .footer__list {
        li {
          font-size: 14px;
          line-height: 16px;

          a {
            color: #fff;
            text-decoration: none;
          }

          &:not(:last-child) {
            padding-bottom: 16px;
          }
        }
      }
    }

    .footer__right {
      font-size: 14px;
      line-height: 16px;

      .footer__mail {
        padding-bottom: 16px;

        a {
          color: #fff;
          font-size: 14px;
          text-decoration: none;
          font-weight: 600;
        }
      }

      .footer__phone {
        span {
          font-weight: 600;
        }
      }
    }

    .footer__infoDev {
      display: none;
    }
  }
}
